.radius-1 {border-radius: 1px;}
.radius-2 {border-radius: 2px;}
.radius-3 {border-radius: 3px;}
.radius-4 {border-radius: 4px;}
.radius-5 {border-radius: 5px;}
.radius-6 {border-radius: 6px;}
.radius-7 {border-radius: 7px;}
.radius-8 {border-radius: 8px;}
.radius-9 {border-radius: 9px;}
.radius-10 {border-radius: 10px;}
.radius-11 {border-radius: 11px;}
.radius-12 {border-radius: 12px;}
.radius-13 {border-radius: 13px;}
.radius-14 {border-radius: 14px;}
.radius-15 {border-radius: 15px;}
.radius-16 {border-radius: 16px;}
.radius-17 {border-radius: 17px;}
.radius-18 {border-radius: 18px;}
.radius-19 {border-radius: 19px;}
.radius-20 {border-radius: 20px;}
.radius-21 {border-radius: 21px;}
.radius-22 {border-radius: 22px;}
.radius-23 {border-radius: 23px;}
.radius-24 {border-radius: 24px;}
.radius-25 {border-radius: 25px;}
.radius-26 {border-radius: 26px;}
.radius-27 {border-radius: 27px;}
.radius-28 {border-radius: 28px;}
.radius-29 {border-radius: 29px;}
.radius-30 {border-radius: 30px;}
.radius-31 {border-radius: 31px;}
.radius-32 {border-radius: 32px;}
.radius-33 {border-radius: 33px;}
.radius-34 {border-radius: 34px;}
.radius-35 {border-radius: 35px;}
.radius-36 {border-radius: 36px;}
.radius-37 {border-radius: 37px;}
.radius-38 {border-radius: 38px;}
.radius-39 {border-radius: 39px;}
.radius-40 {border-radius: 40px;}
.radius-41 {border-radius: 41px;}
.radius-42 {border-radius: 42px;}
.radius-43 {border-radius: 43px;}
.radius-44 {border-radius: 44px;}
.radius-45 {border-radius: 45px;}
.radius-46 {border-radius: 46px;}
.radius-47 {border-radius: 47px;}
.radius-48 {border-radius: 48px;}
.radius-49 {border-radius: 49px;}
.radius-50 {border-radius: 50px;}
.radius-51 {border-radius: 51px;}
.radius-52 {border-radius: 52px;}
.radius-53 {border-radius: 53px;}
.radius-54 {border-radius: 54px;}
.radius-55 {border-radius: 55px;}
.radius-56 {border-radius: 56px;}
.radius-57 {border-radius: 57px;}
.radius-58 {border-radius: 58px;}
.radius-59 {border-radius: 59px;}
.radius-60 {border-radius: 60px;}
.radius-61 {border-radius: 61px;}
.radius-62 {border-radius: 62px;}
.radius-63 {border-radius: 63px;}
.radius-64 {border-radius: 64px;}
.radius-65 {border-radius: 65px;}
.radius-66 {border-radius: 66px;}
.radius-67 {border-radius: 67px;}
.radius-68 {border-radius: 68px;}
.radius-69 {border-radius: 69px;}
.radius-70 {border-radius: 70px;}
.radius-71 {border-radius: 71px;}
.radius-72 {border-radius: 72px;}
.radius-73 {border-radius: 73px;}
.radius-74 {border-radius: 74px;}
.radius-75 {border-radius: 75px;}
.radius-76 {border-radius: 76px;}
.radius-77 {border-radius: 77px;}
.radius-78 {border-radius: 78px;}
.radius-79 {border-radius: 79px;}
.radius-80 {border-radius: 80px;}
.radius-81 {border-radius: 81px;}
.radius-82 {border-radius: 82px;}
.radius-83 {border-radius: 83px;}
.radius-84 {border-radius: 84px;}
.radius-85 {border-radius: 85px;}
.radius-86 {border-radius: 86px;}
.radius-87 {border-radius: 87px;}
.radius-88 {border-radius: 88px;}
.radius-89 {border-radius: 89px;}
.radius-90 {border-radius: 90px;}
.radius-91 {border-radius: 91px;}
.radius-92 {border-radius: 92px;}
.radius-93 {border-radius: 93px;}
.radius-94 {border-radius: 94px;}
.radius-95 {border-radius: 95px;}
.radius-96 {border-radius: 96px;}
.radius-97 {border-radius: 97px;}
.radius-98 {border-radius: 98px;}
.radius-99 {border-radius: 99px;}
.radius-100 {border-radius: 100px;}