.radiusUL-1 {border-radius: 1px 0 0 0;}
.radiusUL-2 {border-radius: 2px 0 0 0;}
.radiusUL-3 {border-radius: 3px 0 0 0;}
.radiusUL-4 {border-radius: 4px 0 0 0;}
.radiusUL-5 {border-radius: 5px 0 0 0;}
.radiusUL-6 {border-radius: 6px 0 0 0;}
.radiusUL-7 {border-radius: 7px 0 0 0;}
.radiusUL-8 {border-radius: 8px 0 0 0;}
.radiusUL-9 {border-radius: 9px 0 0 0;}
.radiusUL-10 {border-radius: 10px 0 0 0;}
.radiusUL-11 {border-radius: 11px 0 0 0;}
.radiusUL-12 {border-radius: 12px 0 0 0;}
.radiusUL-13 {border-radius: 13px 0 0 0;}
.radiusUL-14 {border-radius: 14px 0 0 0;}
.radiusUL-15 {border-radius: 15px 0 0 0;}
.radiusUL-16 {border-radius: 16px 0 0 0;}
.radiusUL-17 {border-radius: 17px 0 0 0;}
.radiusUL-18 {border-radius: 18px 0 0 0;}
.radiusUL-19 {border-radius: 19px 0 0 0;}
.radiusUL-20 {border-radius: 20px 0 0 0;}
.radiusUL-21 {border-radius: 21px 0 0 0;}
.radiusUL-22 {border-radius: 22px 0 0 0;}
.radiusUL-23 {border-radius: 23px 0 0 0;}
.radiusUL-24 {border-radius: 24px 0 0 0;}
.radiusUL-25 {border-radius: 25px 0 0 0;}
.radiusUL-26 {border-radius: 26px 0 0 0;}
.radiusUL-27 {border-radius: 27px 0 0 0;}
.radiusUL-28 {border-radius: 28px 0 0 0;}
.radiusUL-29 {border-radius: 29px 0 0 0;}
.radiusUL-30 {border-radius: 30px 0 0 0;}
.radiusUL-31 {border-radius: 31px 0 0 0;}
.radiusUL-32 {border-radius: 32px 0 0 0;}
.radiusUL-33 {border-radius: 33px 0 0 0;}
.radiusUL-34 {border-radius: 34px 0 0 0;}
.radiusUL-35 {border-radius: 35px 0 0 0;}
.radiusUL-36 {border-radius: 36px 0 0 0;}
.radiusUL-37 {border-radius: 37px 0 0 0;}
.radiusUL-38 {border-radius: 38px 0 0 0;}
.radiusUL-39 {border-radius: 39px 0 0 0;}
.radiusUL-40 {border-radius: 40px 0 0 0;}
.radiusUL-41 {border-radius: 41px 0 0 0;}
.radiusUL-42 {border-radius: 42px 0 0 0;}
.radiusUL-43 {border-radius: 43px 0 0 0;}
.radiusUL-44 {border-radius: 44px 0 0 0;}
.radiusUL-45 {border-radius: 45px 0 0 0;}
.radiusUL-46 {border-radius: 46px 0 0 0;}
.radiusUL-47 {border-radius: 47px 0 0 0;}
.radiusUL-48 {border-radius: 48px 0 0 0;}
.radiusUL-49 {border-radius: 49px 0 0 0;}
.radiusUL-50 {border-radius: 50px 0 0 0;}
.radiusUL-51 {border-radius: 51px 0 0 0;}
.radiusUL-52 {border-radius: 52px 0 0 0;}
.radiusUL-53 {border-radius: 53px 0 0 0;}
.radiusUL-54 {border-radius: 54px 0 0 0;}
.radiusUL-55 {border-radius: 55px 0 0 0;}
.radiusUL-56 {border-radius: 56px 0 0 0;}
.radiusUL-57 {border-radius: 57px 0 0 0;}
.radiusUL-58 {border-radius: 58px 0 0 0;}
.radiusUL-59 {border-radius: 59px 0 0 0;}
.radiusUL-60 {border-radius: 60px 0 0 0;}
.radiusUL-61 {border-radius: 61px 0 0 0;}
.radiusUL-62 {border-radius: 62px 0 0 0;}
.radiusUL-63 {border-radius: 63px 0 0 0;}
.radiusUL-64 {border-radius: 64px 0 0 0;}
.radiusUL-65 {border-radius: 65px 0 0 0;}
.radiusUL-66 {border-radius: 66px 0 0 0;}
.radiusUL-67 {border-radius: 67px 0 0 0;}
.radiusUL-68 {border-radius: 68px 0 0 0;}
.radiusUL-69 {border-radius: 69px 0 0 0;}
.radiusUL-70 {border-radius: 70px 0 0 0;}
.radiusUL-71 {border-radius: 71px 0 0 0;}
.radiusUL-72 {border-radius: 72px 0 0 0;}
.radiusUL-73 {border-radius: 73px 0 0 0;}
.radiusUL-74 {border-radius: 74px 0 0 0;}
.radiusUL-75 {border-radius: 75px 0 0 0;}
.radiusUL-76 {border-radius: 76px 0 0 0;}
.radiusUL-77 {border-radius: 77px 0 0 0;}
.radiusUL-78 {border-radius: 78px 0 0 0;}
.radiusUL-79 {border-radius: 79px 0 0 0;}
.radiusUL-80 {border-radius: 80px 0 0 0;}
.radiusUL-81 {border-radius: 81px 0 0 0;}
.radiusUL-82 {border-radius: 82px 0 0 0;}
.radiusUL-83 {border-radius: 83px 0 0 0;}
.radiusUL-84 {border-radius: 84px 0 0 0;}
.radiusUL-85 {border-radius: 85px 0 0 0;}
.radiusUL-86 {border-radius: 86px 0 0 0;}
.radiusUL-87 {border-radius: 87px 0 0 0;}
.radiusUL-88 {border-radius: 88px 0 0 0;}
.radiusUL-89 {border-radius: 89px 0 0 0;}
.radiusUL-90 {border-radius: 90px 0 0 0;}
.radiusUL-91 {border-radius: 91px 0 0 0;}
.radiusUL-92 {border-radius: 92px 0 0 0;}
.radiusUL-93 {border-radius: 93px 0 0 0;}
.radiusUL-94 {border-radius: 94px 0 0 0;}
.radiusUL-95 {border-radius: 95px 0 0 0;}
.radiusUL-96 {border-radius: 96px 0 0 0;}
.radiusUL-97 {border-radius: 97px 0 0 0;}
.radiusUL-98 {border-radius: 98px 0 0 0;}
.radiusUL-99 {border-radius: 99px 0 0 0;}
.radiusUL-100 {border-radius: 100px 0 0 0;}