.radiusLR-1 {border-radius: 0 0 1px 0;}
.radiusLR-2 {border-radius: 0 0 2px 0;}
.radiusLR-3 {border-radius: 0 0 3px 0;}
.radiusLR-4 {border-radius: 0 0 4px 0;}
.radiusLR-5 {border-radius: 0 0 5px 0;}
.radiusLR-6 {border-radius: 0 0 6px 0;}
.radiusLR-7 {border-radius: 0 0 7px 0;}
.radiusLR-8 {border-radius: 0 0 8px 0;}
.radiusLR-9 {border-radius: 0 0 9px 0;}
.radiusLR-10 {border-radius: 0 0 10px 0;}
.radiusLR-11 {border-radius: 0 0 11px 0;}
.radiusLR-12 {border-radius: 0 0 12px 0;}
.radiusLR-13 {border-radius: 0 0 13px 0;}
.radiusLR-14 {border-radius: 0 0 14px 0;}
.radiusLR-15 {border-radius: 0 0 15px 0;}
.radiusLR-16 {border-radius: 0 0 16px 0;}
.radiusLR-17 {border-radius: 0 0 17px 0;}
.radiusLR-18 {border-radius: 0 0 18px 0;}
.radiusLR-19 {border-radius: 0 0 19px 0;}
.radiusLR-20 {border-radius: 0 0 20px 0;}
.radiusLR-21 {border-radius: 0 0 21px 0;}
.radiusLR-22 {border-radius: 0 0 22px 0;}
.radiusLR-23 {border-radius: 0 0 23px 0;}
.radiusLR-24 {border-radius: 0 0 24px 0;}
.radiusLR-25 {border-radius: 0 0 25px 0;}
.radiusLR-26 {border-radius: 0 0 26px 0;}
.radiusLR-27 {border-radius: 0 0 27px 0;}
.radiusLR-28 {border-radius: 0 0 28px 0;}
.radiusLR-29 {border-radius: 0 0 29px 0;}
.radiusLR-30 {border-radius: 0 0 30px 0;}
.radiusLR-31 {border-radius: 0 0 31px 0;}
.radiusLR-32 {border-radius: 0 0 32px 0;}
.radiusLR-33 {border-radius: 0 0 33px 0;}
.radiusLR-34 {border-radius: 0 0 34px 0;}
.radiusLR-35 {border-radius: 0 0 35px 0;}
.radiusLR-36 {border-radius: 0 0 36px 0;}
.radiusLR-37 {border-radius: 0 0 37px 0;}
.radiusLR-38 {border-radius: 0 0 38px 0;}
.radiusLR-39 {border-radius: 0 0 39px 0;}
.radiusLR-40 {border-radius: 0 0 40px 0;}
.radiusLR-41 {border-radius: 0 0 41px 0;}
.radiusLR-42 {border-radius: 0 0 42px 0;}
.radiusLR-43 {border-radius: 0 0 43px 0;}
.radiusLR-44 {border-radius: 0 0 44px 0;}
.radiusLR-45 {border-radius: 0 0 45px 0;}
.radiusLR-46 {border-radius: 0 0 46px 0;}
.radiusLR-47 {border-radius: 0 0 47px 0;}
.radiusLR-48 {border-radius: 0 0 48px 0;}
.radiusLR-49 {border-radius: 0 0 49px 0;}
.radiusLR-50 {border-radius: 0 0 50px 0;}
.radiusLR-51 {border-radius: 0 0 51px 0;}
.radiusLR-52 {border-radius: 0 0 52px 0;}
.radiusLR-53 {border-radius: 0 0 53px 0;}
.radiusLR-54 {border-radius: 0 0 54px 0;}
.radiusLR-55 {border-radius: 0 0 55px 0;}
.radiusLR-56 {border-radius: 0 0 56px 0;}
.radiusLR-57 {border-radius: 0 0 57px 0;}
.radiusLR-58 {border-radius: 0 0 58px 0;}
.radiusLR-59 {border-radius: 0 0 59px 0;}
.radiusLR-60 {border-radius: 0 0 60px 0;}
.radiusLR-61 {border-radius: 0 0 61px 0;}
.radiusLR-62 {border-radius: 0 0 62px 0;}
.radiusLR-63 {border-radius: 0 0 63px 0;}
.radiusLR-64 {border-radius: 0 0 64px 0;}
.radiusLR-65 {border-radius: 0 0 65px 0;}
.radiusLR-66 {border-radius: 0 0 66px 0;}
.radiusLR-67 {border-radius: 0 0 67px 0;}
.radiusLR-68 {border-radius: 0 0 68px 0;}
.radiusLR-69 {border-radius: 0 0 69px 0;}
.radiusLR-70 {border-radius: 0 0 70px 0;}
.radiusLR-71 {border-radius: 0 0 71px 0;}
.radiusLR-72 {border-radius: 0 0 72px 0;}
.radiusLR-73 {border-radius: 0 0 73px 0;}
.radiusLR-74 {border-radius: 0 0 74px 0;}
.radiusLR-75 {border-radius: 0 0 75px 0;}
.radiusLR-76 {border-radius: 0 0 76px 0;}
.radiusLR-77 {border-radius: 0 0 77px 0;}
.radiusLR-78 {border-radius: 0 0 78px 0;}
.radiusLR-79 {border-radius: 0 0 79px 0;}
.radiusLR-80 {border-radius: 0 0 80px 0;}
.radiusLR-81 {border-radius: 0 0 81px 0;}
.radiusLR-82 {border-radius: 0 0 82px 0;}
.radiusLR-83 {border-radius: 0 0 83px 0;}
.radiusLR-84 {border-radius: 0 0 84px 0;}
.radiusLR-85 {border-radius: 0 0 85px 0;}
.radiusLR-86 {border-radius: 0 0 86px 0;}
.radiusLR-87 {border-radius: 0 0 87px 0;}
.radiusLR-88 {border-radius: 0 0 88px 0;}
.radiusLR-89 {border-radius: 0 0 89px 0;}
.radiusLR-90 {border-radius: 0 0 90px 0;}
.radiusLR-91 {border-radius: 0 0 91px 0;}
.radiusLR-92 {border-radius: 0 0 92px 0;}
.radiusLR-93 {border-radius: 0 0 93px 0;}
.radiusLR-94 {border-radius: 0 0 94px 0;}
.radiusLR-95 {border-radius: 0 0 95px 0;}
.radiusLR-96 {border-radius: 0 0 96px 0;}
.radiusLR-97 {border-radius: 0 0 97px 0;}
.radiusLR-98 {border-radius: 0 0 98px 0;}
.radiusLR-99 {border-radius: 0 0 99px 0;}
.radiusLR-100 {border-radius: 0 0 100px 0;}