.ppr-1 {padding-right: 1px;}
.ppr-2 {padding-right: 2px;}
.ppr-3 {padding-right: 3px;}
.ppr-4 {padding-right: 4px;}
.ppr-5 {padding-right: 5px;}
.ppr-6 {padding-right: 6px;}
.ppr-7 {padding-right: 7px;}
.ppr-8 {padding-right: 8px;}
.ppr-9 {padding-right: 9px;}
.ppr-10 {padding-right: 10px;}
.ppr-11 {padding-right: 11px;}
.ppr-12 {padding-right: 12px;}
.ppr-13 {padding-right: 13px;}
.ppr-14 {padding-right: 14px;}
.ppr-15 {padding-right: 15px;}
.ppr-16 {padding-right: 16px;}
.ppr-17 {padding-right: 17px;}
.ppr-18 {padding-right: 18px;}
.ppr-19 {padding-right: 19px;}
.ppr-20 {padding-right: 20px;}
.ppr-21 {padding-right: 21px;}
.ppr-22 {padding-right: 22px;}
.ppr-23 {padding-right: 23px;}
.ppr-24 {padding-right: 24px;}
.ppr-25 {padding-right: 25px;}
.ppr-26 {padding-right: 26px;}
.ppr-27 {padding-right: 27px;}
.ppr-28 {padding-right: 28px;}
.ppr-29 {padding-right: 29px;}
.ppr-30 {padding-right: 30px;}
.ppr-31 {padding-right: 31px;}
.ppr-32 {padding-right: 32px;}
.ppr-33 {padding-right: 33px;}
.ppr-34 {padding-right: 34px;}
.ppr-35 {padding-right: 35px;}
.ppr-36 {padding-right: 36px;}
.ppr-37 {padding-right: 37px;}
.ppr-38 {padding-right: 38px;}
.ppr-39 {padding-right: 39px;}
.ppr-40 {padding-right: 40px;}
.ppr-41 {padding-right: 41px;}
.ppr-42 {padding-right: 42px;}
.ppr-43 {padding-right: 43px;}
.ppr-44 {padding-right: 44px;}
.ppr-45 {padding-right: 45px;}
.ppr-46 {padding-right: 46px;}
.ppr-47 {padding-right: 47px;}
.ppr-48 {padding-right: 48px;}
.ppr-49 {padding-right: 49px;}
.ppr-50 {padding-right: 50px;}
.ppr-51 {padding-right: 51px;}
.ppr-52 {padding-right: 52px;}
.ppr-53 {padding-right: 53px;}
.ppr-54 {padding-right: 54px;}
.ppr-55 {padding-right: 55px;}
.ppr-56 {padding-right: 56px;}
.ppr-57 {padding-right: 57px;}
.ppr-58 {padding-right: 58px;}
.ppr-59 {padding-right: 59px;}
.ppr-60 {padding-right: 60px;}
.ppr-61 {padding-right: 61px;}
.ppr-62 {padding-right: 62px;}
.ppr-63 {padding-right: 63px;}
.ppr-64 {padding-right: 64px;}
.ppr-65 {padding-right: 65px;}
.ppr-66 {padding-right: 66px;}
.ppr-67 {padding-right: 67px;}
.ppr-68 {padding-right: 68px;}
.ppr-69 {padding-right: 69px;}
.ppr-70 {padding-right: 70px;}
.ppr-71 {padding-right: 71px;}
.ppr-72 {padding-right: 72px;}
.ppr-73 {padding-right: 73px;}
.ppr-74 {padding-right: 74px;}
.ppr-75 {padding-right: 75px;}
.ppr-76 {padding-right: 76px;}
.ppr-77 {padding-right: 77px;}
.ppr-78 {padding-right: 78px;}
.ppr-79 {padding-right: 79px;}
.ppr-80 {padding-right: 80px;}
.ppr-81 {padding-right: 81px;}
.ppr-82 {padding-right: 82px;}
.ppr-83 {padding-right: 83px;}
.ppr-84 {padding-right: 84px;}
.ppr-85 {padding-right: 85px;}
.ppr-86 {padding-right: 86px;}
.ppr-87 {padding-right: 87px;}
.ppr-88 {padding-right: 88px;}
.ppr-89 {padding-right: 89px;}
.ppr-90 {padding-right: 90px;}
.ppr-91 {padding-right: 91px;}
.ppr-92 {padding-right: 92px;}
.ppr-93 {padding-right: 93px;}
.ppr-94 {padding-right: 94px;}
.ppr-95 {padding-right: 95px;}
.ppr-96 {padding-right: 96px;}
.ppr-97 {padding-right: 97px;}
.ppr-98 {padding-right: 98px;}
.ppr-99 {padding-right: 99px;}
.ppr-100 {padding-right: 100px;}
.ppr-101 {padding-right: 101px;}
.ppr-102 {padding-right: 102px;}
.ppr-103 {padding-right: 103px;}
.ppr-104 {padding-right: 104px;}
.ppr-105 {padding-right: 105px;}
.ppr-106 {padding-right: 106px;}
.ppr-107 {padding-right: 107px;}
.ppr-108 {padding-right: 108px;}
.ppr-109 {padding-right: 109px;}
.ppr-110 {padding-right: 110px;}
.ppr-111 {padding-right: 111px;}
.ppr-112 {padding-right: 112px;}
.ppr-113 {padding-right: 113px;}
.ppr-114 {padding-right: 114px;}
.ppr-115 {padding-right: 115px;}
.ppr-116 {padding-right: 116px;}
.ppr-117 {padding-right: 117px;}
.ppr-118 {padding-right: 118px;}
.ppr-119 {padding-right: 119px;}
.ppr-120 {padding-right: 120px;}
.ppr-121 {padding-right: 121px;}
.ppr-122 {padding-right: 122px;}
.ppr-123 {padding-right: 123px;}
.ppr-124 {padding-right: 124px;}
.ppr-125 {padding-right: 125px;}
.ppr-126 {padding-right: 126px;}
.ppr-127 {padding-right: 127px;}
.ppr-128 {padding-right: 128px;}
.ppr-129 {padding-right: 129px;}
.ppr-130 {padding-right: 130px;}
.ppr-131 {padding-right: 131px;}
.ppr-132 {padding-right: 132px;}
.ppr-133 {padding-right: 133px;}
.ppr-134 {padding-right: 134px;}
.ppr-135 {padding-right: 135px;}
.ppr-136 {padding-right: 136px;}
.ppr-137 {padding-right: 137px;}
.ppr-138 {padding-right: 138px;}
.ppr-139 {padding-right: 139px;}
.ppr-140 {padding-right: 140px;}
.ppr-141 {padding-right: 141px;}
.ppr-142 {padding-right: 142px;}
.ppr-143 {padding-right: 143px;}
.ppr-144 {padding-right: 144px;}
.ppr-145 {padding-right: 145px;}
.ppr-146 {padding-right: 146px;}
.ppr-147 {padding-right: 147px;}
.ppr-148 {padding-right: 148px;}
.ppr-149 {padding-right: 149px;}
.ppr-150 {padding-right: 150px;}
.ppr-151 {padding-right: 151px;}
.ppr-152 {padding-right: 152px;}
.ppr-153 {padding-right: 153px;}
.ppr-154 {padding-right: 154px;}
.ppr-155 {padding-right: 155px;}
.ppr-156 {padding-right: 156px;}
.ppr-157 {padding-right: 157px;}
.ppr-158 {padding-right: 158px;}
.ppr-159 {padding-right: 159px;}
.ppr-160 {padding-right: 160px;}
.ppr-161 {padding-right: 161px;}
.ppr-162 {padding-right: 162px;}
.ppr-163 {padding-right: 163px;}
.ppr-164 {padding-right: 164px;}
.ppr-165 {padding-right: 165px;}
.ppr-166 {padding-right: 166px;}
.ppr-167 {padding-right: 167px;}
.ppr-168 {padding-right: 168px;}
.ppr-169 {padding-right: 169px;}
.ppr-170 {padding-right: 170px;}
.ppr-171 {padding-right: 171px;}
.ppr-172 {padding-right: 172px;}
.ppr-173 {padding-right: 173px;}
.ppr-174 {padding-right: 174px;}
.ppr-175 {padding-right: 175px;}
.ppr-176 {padding-right: 176px;}
.ppr-177 {padding-right: 177px;}
.ppr-178 {padding-right: 178px;}
.ppr-179 {padding-right: 179px;}
.ppr-180 {padding-right: 180px;}
.ppr-181 {padding-right: 181px;}
.ppr-182 {padding-right: 182px;}
.ppr-183 {padding-right: 183px;}
.ppr-184 {padding-right: 184px;}
.ppr-185 {padding-right: 185px;}
.ppr-186 {padding-right: 186px;}
.ppr-187 {padding-right: 187px;}
.ppr-188 {padding-right: 188px;}
.ppr-189 {padding-right: 189px;}
.ppr-190 {padding-right: 190px;}
.ppr-191 {padding-right: 191px;}
.ppr-192 {padding-right: 192px;}
.ppr-193 {padding-right: 193px;}
.ppr-194 {padding-right: 194px;}
.ppr-195 {padding-right: 195px;}
.ppr-196 {padding-right: 196px;}
.ppr-197 {padding-right: 197px;}
.ppr-198 {padding-right: 198px;}
.ppr-199 {padding-right: 199px;}
.ppr-200 {padding-right: 200px;}