.ppt-1 {padding-top: 1px;}
.ppt-2 {padding-top: 2px;}
.ppt-3 {padding-top: 3px;}
.ppt-4 {padding-top: 4px;}
.ppt-5 {padding-top: 5px;}
.ppt-6 {padding-top: 6px;}
.ppt-7 {padding-top: 7px;}
.ppt-8 {padding-top: 8px;}
.ppt-9 {padding-top: 9px;}
.ppt-10 {padding-top: 10px;}
.ppt-11 {padding-top: 11px;}
.ppt-12 {padding-top: 12px;}
.ppt-13 {padding-top: 13px;}
.ppt-14 {padding-top: 14px;}
.ppt-15 {padding-top: 15px;}
.ppt-16 {padding-top: 16px;}
.ppt-17 {padding-top: 17px;}
.ppt-18 {padding-top: 18px;}
.ppt-19 {padding-top: 19px;}
.ppt-20 {padding-top: 20px;}
.ppt-21 {padding-top: 21px;}
.ppt-22 {padding-top: 22px;}
.ppt-23 {padding-top: 23px;}
.ppt-24 {padding-top: 24px;}
.ppt-25 {padding-top: 25px;}
.ppt-26 {padding-top: 26px;}
.ppt-27 {padding-top: 27px;}
.ppt-28 {padding-top: 28px;}
.ppt-29 {padding-top: 29px;}
.ppt-30 {padding-top: 30px;}
.ppt-31 {padding-top: 31px;}
.ppt-32 {padding-top: 32px;}
.ppt-33 {padding-top: 33px;}
.ppt-34 {padding-top: 34px;}
.ppt-35 {padding-top: 35px;}
.ppt-36 {padding-top: 36px;}
.ppt-37 {padding-top: 37px;}
.ppt-38 {padding-top: 38px;}
.ppt-39 {padding-top: 39px;}
.ppt-40 {padding-top: 40px;}
.ppt-41 {padding-top: 41px;}
.ppt-42 {padding-top: 42px;}
.ppt-43 {padding-top: 43px;}
.ppt-44 {padding-top: 44px;}
.ppt-45 {padding-top: 45px;}
.ppt-46 {padding-top: 46px;}
.ppt-47 {padding-top: 47px;}
.ppt-48 {padding-top: 48px;}
.ppt-49 {padding-top: 49px;}
.ppt-50 {padding-top: 50px;}
.ppt-51 {padding-top: 51px;}
.ppt-52 {padding-top: 52px;}
.ppt-53 {padding-top: 53px;}
.ppt-54 {padding-top: 54px;}
.ppt-55 {padding-top: 55px;}
.ppt-56 {padding-top: 56px;}
.ppt-57 {padding-top: 57px;}
.ppt-58 {padding-top: 58px;}
.ppt-59 {padding-top: 59px;}
.ppt-60 {padding-top: 60px;}
.ppt-61 {padding-top: 61px;}
.ppt-62 {padding-top: 62px;}
.ppt-63 {padding-top: 63px;}
.ppt-64 {padding-top: 64px;}
.ppt-65 {padding-top: 65px;}
.ppt-66 {padding-top: 66px;}
.ppt-67 {padding-top: 67px;}
.ppt-68 {padding-top: 68px;}
.ppt-69 {padding-top: 69px;}
.ppt-70 {padding-top: 70px;}
.ppt-71 {padding-top: 71px;}
.ppt-72 {padding-top: 72px;}
.ppt-73 {padding-top: 73px;}
.ppt-74 {padding-top: 74px;}
.ppt-75 {padding-top: 75px;}
.ppt-76 {padding-top: 76px;}
.ppt-77 {padding-top: 77px;}
.ppt-78 {padding-top: 78px;}
.ppt-79 {padding-top: 79px;}
.ppt-80 {padding-top: 80px;}
.ppt-81 {padding-top: 81px;}
.ppt-82 {padding-top: 82px;}
.ppt-83 {padding-top: 83px;}
.ppt-84 {padding-top: 84px;}
.ppt-85 {padding-top: 85px;}
.ppt-86 {padding-top: 86px;}
.ppt-87 {padding-top: 87px;}
.ppt-88 {padding-top: 88px;}
.ppt-89 {padding-top: 89px;}
.ppt-90 {padding-top: 90px;}
.ppt-91 {padding-top: 91px;}
.ppt-92 {padding-top: 92px;}
.ppt-93 {padding-top: 93px;}
.ppt-94 {padding-top: 94px;}
.ppt-95 {padding-top: 95px;}
.ppt-96 {padding-top: 96px;}
.ppt-97 {padding-top: 97px;}
.ppt-98 {padding-top: 98px;}
.ppt-99 {padding-top: 99px;}
.ppt-100 {padding-top: 100px;}
.ppt-101 {padding-top: 101px;}
.ppt-102 {padding-top: 102px;}
.ppt-103 {padding-top: 103px;}
.ppt-104 {padding-top: 104px;}
.ppt-105 {padding-top: 105px;}
.ppt-106 {padding-top: 106px;}
.ppt-107 {padding-top: 107px;}
.ppt-108 {padding-top: 108px;}
.ppt-109 {padding-top: 109px;}
.ppt-110 {padding-top: 110px;}
.ppt-111 {padding-top: 111px;}
.ppt-112 {padding-top: 112px;}
.ppt-113 {padding-top: 113px;}
.ppt-114 {padding-top: 114px;}
.ppt-115 {padding-top: 115px;}
.ppt-116 {padding-top: 116px;}
.ppt-117 {padding-top: 117px;}
.ppt-118 {padding-top: 118px;}
.ppt-119 {padding-top: 119px;}
.ppt-120 {padding-top: 120px;}
.ppt-121 {padding-top: 121px;}
.ppt-122 {padding-top: 122px;}
.ppt-123 {padding-top: 123px;}
.ppt-124 {padding-top: 124px;}
.ppt-125 {padding-top: 125px;}
.ppt-126 {padding-top: 126px;}
.ppt-127 {padding-top: 127px;}
.ppt-128 {padding-top: 128px;}
.ppt-129 {padding-top: 129px;}
.ppt-130 {padding-top: 130px;}
.ppt-131 {padding-top: 131px;}
.ppt-132 {padding-top: 132px;}
.ppt-133 {padding-top: 133px;}
.ppt-134 {padding-top: 134px;}
.ppt-135 {padding-top: 135px;}
.ppt-136 {padding-top: 136px;}
.ppt-137 {padding-top: 137px;}
.ppt-138 {padding-top: 138px;}
.ppt-139 {padding-top: 139px;}
.ppt-140 {padding-top: 140px;}
.ppt-141 {padding-top: 141px;}
.ppt-142 {padding-top: 142px;}
.ppt-143 {padding-top: 143px;}
.ppt-144 {padding-top: 144px;}
.ppt-145 {padding-top: 145px;}
.ppt-146 {padding-top: 146px;}
.ppt-147 {padding-top: 147px;}
.ppt-148 {padding-top: 148px;}
.ppt-149 {padding-top: 149px;}
.ppt-150 {padding-top: 150px;}
.ppt-151 {padding-top: 151px;}
.ppt-152 {padding-top: 152px;}
.ppt-153 {padding-top: 153px;}
.ppt-154 {padding-top: 154px;}
.ppt-155 {padding-top: 155px;}
.ppt-156 {padding-top: 156px;}
.ppt-157 {padding-top: 157px;}
.ppt-158 {padding-top: 158px;}
.ppt-159 {padding-top: 159px;}
.ppt-160 {padding-top: 160px;}
.ppt-161 {padding-top: 161px;}
.ppt-162 {padding-top: 162px;}
.ppt-163 {padding-top: 163px;}
.ppt-164 {padding-top: 164px;}
.ppt-165 {padding-top: 165px;}
.ppt-166 {padding-top: 166px;}
.ppt-167 {padding-top: 167px;}
.ppt-168 {padding-top: 168px;}
.ppt-169 {padding-top: 169px;}
.ppt-170 {padding-top: 170px;}
.ppt-171 {padding-top: 171px;}
.ppt-172 {padding-top: 172px;}
.ppt-173 {padding-top: 173px;}
.ppt-174 {padding-top: 174px;}
.ppt-175 {padding-top: 175px;}
.ppt-176 {padding-top: 176px;}
.ppt-177 {padding-top: 177px;}
.ppt-178 {padding-top: 178px;}
.ppt-179 {padding-top: 179px;}
.ppt-180 {padding-top: 180px;}
.ppt-181 {padding-top: 181px;}
.ppt-182 {padding-top: 182px;}
.ppt-183 {padding-top: 183px;}
.ppt-184 {padding-top: 184px;}
.ppt-185 {padding-top: 185px;}
.ppt-186 {padding-top: 186px;}
.ppt-187 {padding-top: 187px;}
.ppt-188 {padding-top: 188px;}
.ppt-189 {padding-top: 189px;}
.ppt-190 {padding-top: 190px;}
.ppt-191 {padding-top: 191px;}
.ppt-192 {padding-top: 192px;}
.ppt-193 {padding-top: 193px;}
.ppt-194 {padding-top: 194px;}
.ppt-195 {padding-top: 195px;}
.ppt-196 {padding-top: 196px;}
.ppt-197 {padding-top: 197px;}
.ppt-198 {padding-top: 198px;}
.ppt-199 {padding-top: 199px;}
.ppt-200 {padding-top: 200px;}
// .ppt-201 {padding-top: 201px;}
// .ppt-202 {padding-top: 202px;}
// .ppt-203 {padding-top: 203px;}
// .ppt-204 {padding-top: 204px;}
// .ppt-205 {padding-top: 205px;}
// .ppt-206 {padding-top: 206px;}
// .ppt-207 {padding-top: 207px;}
// .ppt-208 {padding-top: 208px;}
// .ppt-209 {padding-top: 209px;}
// .ppt-210 {padding-top: 210px;}
// .ppt-211 {padding-top: 211px;}
// .ppt-212 {padding-top: 212px;}
// .ppt-213 {padding-top: 213px;}
// .ppt-214 {padding-top: 214px;}
// .ppt-215 {padding-top: 215px;}
// .ppt-216 {padding-top: 216px;}
// .ppt-217 {padding-top: 217px;}
// .ppt-218 {padding-top: 218px;}
// .ppt-219 {padding-top: 219px;}
// .ppt-220 {padding-top: 220px;}
// .ppt-221 {padding-top: 221px;}
// .ppt-222 {padding-top: 222px;}
// .ppt-223 {padding-top: 223px;}
// .ppt-224 {padding-top: 224px;}
// .ppt-225 {padding-top: 225px;}
// .ppt-226 {padding-top: 226px;}
// .ppt-227 {padding-top: 227px;}
// .ppt-228 {padding-top: 228px;}
// .ppt-229 {padding-top: 229px;}
// .ppt-230 {padding-top: 230px;}
// .ppt-231 {padding-top: 231px;}
// .ppt-232 {padding-top: 232px;}
// .ppt-233 {padding-top: 233px;}
// .ppt-234 {padding-top: 234px;}
// .ppt-235 {padding-top: 235px;}
// .ppt-236 {padding-top: 236px;}
// .ppt-237 {padding-top: 237px;}
// .ppt-238 {padding-top: 238px;}
// .ppt-239 {padding-top: 239px;}
// .ppt-240 {padding-top: 240px;}
// .ppt-241 {padding-top: 241px;}
// .ppt-242 {padding-top: 242px;}
// .ppt-243 {padding-top: 243px;}
// .ppt-244 {padding-top: 244px;}
// .ppt-245 {padding-top: 245px;}
// .ppt-246 {padding-top: 246px;}
// .ppt-247 {padding-top: 247px;}
// .ppt-248 {padding-top: 248px;}
// .ppt-249 {padding-top: 249px;}
// .ppt-250 {padding-top: 250px;}
// .ppt-251 {padding-top: 251px;}
// .ppt-252 {padding-top: 252px;}
// .ppt-253 {padding-top: 253px;}
// .ppt-254 {padding-top: 254px;}
// .ppt-255 {padding-top: 255px;}
// .ppt-256 {padding-top: 256px;}
// .ppt-257 {padding-top: 257px;}
// .ppt-258 {padding-top: 258px;}
// .ppt-259 {padding-top: 259px;}
// .ppt-260 {padding-top: 260px;}
// .ppt-261 {padding-top: 261px;}
// .ppt-262 {padding-top: 262px;}
// .ppt-263 {padding-top: 263px;}
// .ppt-264 {padding-top: 264px;}
// .ppt-265 {padding-top: 265px;}
// .ppt-266 {padding-top: 266px;}
// .ppt-267 {padding-top: 267px;}
// .ppt-268 {padding-top: 268px;}
// .ppt-269 {padding-top: 269px;}
// .ppt-270 {padding-top: 270px;}
// .ppt-271 {padding-top: 271px;}
// .ppt-272 {padding-top: 272px;}
// .ppt-273 {padding-top: 273px;}
// .ppt-274 {padding-top: 274px;}
// .ppt-275 {padding-top: 275px;}
// .ppt-276 {padding-top: 276px;}
// .ppt-277 {padding-top: 277px;}
// .ppt-278 {padding-top: 278px;}
// .ppt-279 {padding-top: 279px;}
// .ppt-280 {padding-top: 280px;}
// .ppt-281 {padding-top: 281px;}
// .ppt-282 {padding-top: 282px;}
// .ppt-283 {padding-top: 283px;}
// .ppt-284 {padding-top: 284px;}
// .ppt-285 {padding-top: 285px;}
// .ppt-286 {padding-top: 286px;}
// .ppt-287 {padding-top: 287px;}
// .ppt-288 {padding-top: 288px;}
// .ppt-289 {padding-top: 289px;}
// .ppt-290 {padding-top: 290px;}
// .ppt-291 {padding-top: 291px;}
// .ppt-292 {padding-top: 292px;}
// .ppt-293 {padding-top: 293px;}
// .ppt-294 {padding-top: 294px;}
// .ppt-295 {padding-top: 295px;}
// .ppt-296 {padding-top: 296px;}
// .ppt-297 {padding-top: 297px;}
// .ppt-298 {padding-top: 298px;}
// .ppt-299 {padding-top: 299px;}
// .ppt-300 {padding-top: 300px;}
// .ppt-301 {padding-top: 301px;}
// .ppt-302 {padding-top: 302px;}
// .ppt-303 {padding-top: 303px;}
// .ppt-304 {padding-top: 304px;}
// .ppt-305 {padding-top: 305px;}
// .ppt-306 {padding-top: 306px;}
// .ppt-307 {padding-top: 307px;}
// .ppt-308 {padding-top: 308px;}
// .ppt-309 {padding-top: 309px;}
// .ppt-310 {padding-top: 310px;}
// .ppt-311 {padding-top: 311px;}
// .ppt-312 {padding-top: 312px;}
// .ppt-313 {padding-top: 313px;}
// .ppt-314 {padding-top: 314px;}
// .ppt-315 {padding-top: 315px;}
// .ppt-316 {padding-top: 316px;}
// .ppt-317 {padding-top: 317px;}
// .ppt-318 {padding-top: 318px;}
// .ppt-319 {padding-top: 319px;}
// .ppt-320 {padding-top: 320px;}
// .ppt-321 {padding-top: 321px;}
// .ppt-322 {padding-top: 322px;}
// .ppt-323 {padding-top: 323px;}
// .ppt-324 {padding-top: 324px;}
// .ppt-325 {padding-top: 325px;}
// .ppt-326 {padding-top: 326px;}
// .ppt-327 {padding-top: 327px;}
// .ppt-328 {padding-top: 328px;}
// .ppt-329 {padding-top: 329px;}
// .ppt-330 {padding-top: 330px;}
// .ppt-331 {padding-top: 331px;}
// .ppt-332 {padding-top: 332px;}
// .ppt-333 {padding-top: 333px;}
// .ppt-334 {padding-top: 334px;}
// .ppt-335 {padding-top: 335px;}
// .ppt-336 {padding-top: 336px;}
// .ppt-337 {padding-top: 337px;}
// .ppt-338 {padding-top: 338px;}
// .ppt-339 {padding-top: 339px;}
// .ppt-340 {padding-top: 340px;}
// .ppt-341 {padding-top: 341px;}
// .ppt-342 {padding-top: 342px;}
// .ppt-343 {padding-top: 343px;}
// .ppt-344 {padding-top: 344px;}
// .ppt-345 {padding-top: 345px;}
// .ppt-346 {padding-top: 346px;}
// .ppt-347 {padding-top: 347px;}
// .ppt-348 {padding-top: 348px;}
// .ppt-349 {padding-top: 349px;}
// .ppt-350 {padding-top: 350px;}
// .ppt-351 {padding-top: 351px;}
// .ppt-352 {padding-top: 352px;}
// .ppt-353 {padding-top: 353px;}
// .ppt-354 {padding-top: 354px;}
// .ppt-355 {padding-top: 355px;}
// .ppt-356 {padding-top: 356px;}
// .ppt-357 {padding-top: 357px;}
// .ppt-358 {padding-top: 358px;}
// .ppt-359 {padding-top: 359px;}
// .ppt-360 {padding-top: 360px;}
// .ppt-361 {padding-top: 361px;}
// .ppt-362 {padding-top: 362px;}
// .ppt-363 {padding-top: 363px;}
// .ppt-364 {padding-top: 364px;}
// .ppt-365 {padding-top: 365px;}
// .ppt-366 {padding-top: 366px;}
// .ppt-367 {padding-top: 367px;}
// .ppt-368 {padding-top: 368px;}
// .ppt-369 {padding-top: 369px;}
// .ppt-370 {padding-top: 370px;}
// .ppt-371 {padding-top: 371px;}
// .ppt-372 {padding-top: 372px;}
// .ppt-373 {padding-top: 373px;}
// .ppt-374 {padding-top: 374px;}
// .ppt-375 {padding-top: 375px;}
// .ppt-376 {padding-top: 376px;}
// .ppt-377 {padding-top: 377px;}
// .ppt-378 {padding-top: 378px;}
// .ppt-379 {padding-top: 379px;}
// .ppt-380 {padding-top: 380px;}
// .ppt-381 {padding-top: 381px;}
// .ppt-382 {padding-top: 382px;}
// .ppt-383 {padding-top: 383px;}
// .ppt-384 {padding-top: 384px;}
// .ppt-385 {padding-top: 385px;}
// .ppt-386 {padding-top: 386px;}
// .ppt-387 {padding-top: 387px;}
// .ppt-388 {padding-top: 388px;}
// .ppt-389 {padding-top: 389px;}
// .ppt-390 {padding-top: 390px;}
// .ppt-391 {padding-top: 391px;}
// .ppt-392 {padding-top: 392px;}
// .ppt-393 {padding-top: 393px;}
// .ppt-394 {padding-top: 394px;}
// .ppt-395 {padding-top: 395px;}
// .ppt-396 {padding-top: 396px;}
// .ppt-397 {padding-top: 397px;}
// .ppt-398 {padding-top: 398px;}
// .ppt-399 {padding-top: 399px;}
// .ppt-400 {padding-top: 400px;}
// .ppt-401 {padding-top: 401px;}
// .ppt-402 {padding-top: 402px;}
// .ppt-403 {padding-top: 403px;}
// .ppt-404 {padding-top: 404px;}
// .ppt-405 {padding-top: 405px;}
// .ppt-406 {padding-top: 406px;}
// .ppt-407 {padding-top: 407px;}
// .ppt-408 {padding-top: 408px;}
// .ppt-409 {padding-top: 409px;}
// .ppt-410 {padding-top: 410px;}
// .ppt-411 {padding-top: 411px;}
// .ppt-412 {padding-top: 412px;}
// .ppt-413 {padding-top: 413px;}
// .ppt-414 {padding-top: 414px;}
// .ppt-415 {padding-top: 415px;}
// .ppt-416 {padding-top: 416px;}
// .ppt-417 {padding-top: 417px;}
// .ppt-418 {padding-top: 418px;}
// .ppt-419 {padding-top: 419px;}
// .ppt-420 {padding-top: 420px;}
// .ppt-421 {padding-top: 421px;}
// .ppt-422 {padding-top: 422px;}
// .ppt-423 {padding-top: 423px;}
// .ppt-424 {padding-top: 424px;}
// .ppt-425 {padding-top: 425px;}
// .ppt-426 {padding-top: 426px;}
// .ppt-427 {padding-top: 427px;}
// .ppt-428 {padding-top: 428px;}
// .ppt-429 {padding-top: 429px;}
// .ppt-430 {padding-top: 430px;}
// .ppt-431 {padding-top: 431px;}
// .ppt-432 {padding-top: 432px;}
// .ppt-433 {padding-top: 433px;}
// .ppt-434 {padding-top: 434px;}
// .ppt-435 {padding-top: 435px;}
// .ppt-436 {padding-top: 436px;}
// .ppt-437 {padding-top: 437px;}
// .ppt-438 {padding-top: 438px;}
// .ppt-439 {padding-top: 439px;}
// .ppt-440 {padding-top: 440px;}
// .ppt-441 {padding-top: 441px;}
// .ppt-442 {padding-top: 442px;}
// .ppt-443 {padding-top: 443px;}
// .ppt-444 {padding-top: 444px;}
// .ppt-445 {padding-top: 445px;}
// .ppt-446 {padding-top: 446px;}
// .ppt-447 {padding-top: 447px;}
// .ppt-448 {padding-top: 448px;}
// .ppt-449 {padding-top: 449px;}
// .ppt-450 {padding-top: 450px;}
// .ppt-451 {padding-top: 451px;}
// .ppt-452 {padding-top: 452px;}
// .ppt-453 {padding-top: 453px;}
// .ppt-454 {padding-top: 454px;}
// .ppt-455 {padding-top: 455px;}
// .ppt-456 {padding-top: 456px;}
// .ppt-457 {padding-top: 457px;}
// .ppt-458 {padding-top: 458px;}
// .ppt-459 {padding-top: 459px;}
// .ppt-460 {padding-top: 460px;}
// .ppt-461 {padding-top: 461px;}
// .ppt-462 {padding-top: 462px;}
// .ppt-463 {padding-top: 463px;}
// .ppt-464 {padding-top: 464px;}
// .ppt-465 {padding-top: 465px;}
// .ppt-466 {padding-top: 466px;}
// .ppt-467 {padding-top: 467px;}
// .ppt-468 {padding-top: 468px;}
// .ppt-469 {padding-top: 469px;}
// .ppt-470 {padding-top: 470px;}
// .ppt-471 {padding-top: 471px;}
// .ppt-472 {padding-top: 472px;}
// .ppt-473 {padding-top: 473px;}
// .ppt-474 {padding-top: 474px;}
// .ppt-475 {padding-top: 475px;}
// .ppt-476 {padding-top: 476px;}
// .ppt-477 {padding-top: 477px;}
// .ppt-478 {padding-top: 478px;}
// .ppt-479 {padding-top: 479px;}
// .ppt-480 {padding-top: 480px;}
// .ppt-481 {padding-top: 481px;}
// .ppt-482 {padding-top: 482px;}
// .ppt-483 {padding-top: 483px;}
// .ppt-484 {padding-top: 484px;}
// .ppt-485 {padding-top: 485px;}
// .ppt-486 {padding-top: 486px;}
// .ppt-487 {padding-top: 487px;}
// .ppt-488 {padding-top: 488px;}
// .ppt-489 {padding-top: 489px;}
// .ppt-490 {padding-top: 490px;}
// .ppt-491 {padding-top: 491px;}
// .ppt-492 {padding-top: 492px;}
// .ppt-493 {padding-top: 493px;}
// .ppt-494 {padding-top: 494px;}
// .ppt-495 {padding-top: 495px;}
// .ppt-496 {padding-top: 496px;}
// .ppt-497 {padding-top: 497px;}
// .ppt-498 {padding-top: 498px;}
// .ppt-499 {padding-top: 499px;}
// .ppt-500 {padding-top: 500px;}
// .ppt-501 {padding-top: 501px;}
// .ppt-502 {padding-top: 502px;}
// .ppt-503 {padding-top: 503px;}
// .ppt-504 {padding-top: 504px;}
// .ppt-505 {padding-top: 505px;}
// .ppt-506 {padding-top: 506px;}
// .ppt-507 {padding-top: 507px;}
// .ppt-508 {padding-top: 508px;}
// .ppt-509 {padding-top: 509px;}
// .ppt-510 {padding-top: 510px;}
// .ppt-511 {padding-top: 511px;}
// .ppt-512 {padding-top: 512px;}
// .ppt-513 {padding-top: 513px;}
// .ppt-514 {padding-top: 514px;}
// .ppt-515 {padding-top: 515px;}
// .ppt-516 {padding-top: 516px;}
// .ppt-517 {padding-top: 517px;}
// .ppt-518 {padding-top: 518px;}
// .ppt-519 {padding-top: 519px;}
// .ppt-520 {padding-top: 520px;}
// .ppt-521 {padding-top: 521px;}
// .ppt-522 {padding-top: 522px;}
// .ppt-523 {padding-top: 523px;}
// .ppt-524 {padding-top: 524px;}
// .ppt-525 {padding-top: 525px;}
// .ppt-526 {padding-top: 526px;}
// .ppt-527 {padding-top: 527px;}
// .ppt-528 {padding-top: 528px;}
// .ppt-529 {padding-top: 529px;}
// .ppt-530 {padding-top: 530px;}
// .ppt-531 {padding-top: 531px;}
// .ppt-532 {padding-top: 532px;}
// .ppt-533 {padding-top: 533px;}
// .ppt-534 {padding-top: 534px;}
// .ppt-535 {padding-top: 535px;}
// .ppt-536 {padding-top: 536px;}
// .ppt-537 {padding-top: 537px;}
// .ppt-538 {padding-top: 538px;}
// .ppt-539 {padding-top: 539px;}
// .ppt-540 {padding-top: 540px;}
// .ppt-541 {padding-top: 541px;}
// .ppt-542 {padding-top: 542px;}
// .ppt-543 {padding-top: 543px;}
// .ppt-544 {padding-top: 544px;}
// .ppt-545 {padding-top: 545px;}
// .ppt-546 {padding-top: 546px;}
// .ppt-547 {padding-top: 547px;}
// .ppt-548 {padding-top: 548px;}
// .ppt-549 {padding-top: 549px;}
// .ppt-550 {padding-top: 550px;}
// .ppt-551 {padding-top: 551px;}
// .ppt-552 {padding-top: 552px;}
// .ppt-553 {padding-top: 553px;}
// .ppt-554 {padding-top: 554px;}
// .ppt-555 {padding-top: 555px;}
// .ppt-556 {padding-top: 556px;}
// .ppt-557 {padding-top: 557px;}
// .ppt-558 {padding-top: 558px;}
// .ppt-559 {padding-top: 559px;}
// .ppt-560 {padding-top: 560px;}
// .ppt-561 {padding-top: 561px;}
// .ppt-562 {padding-top: 562px;}
// .ppt-563 {padding-top: 563px;}
// .ppt-564 {padding-top: 564px;}
// .ppt-565 {padding-top: 565px;}
// .ppt-566 {padding-top: 566px;}
// .ppt-567 {padding-top: 567px;}
// .ppt-568 {padding-top: 568px;}
// .ppt-569 {padding-top: 569px;}
// .ppt-570 {padding-top: 570px;}
// .ppt-571 {padding-top: 571px;}
// .ppt-572 {padding-top: 572px;}
// .ppt-573 {padding-top: 573px;}
// .ppt-574 {padding-top: 574px;}
// .ppt-575 {padding-top: 575px;}
// .ppt-576 {padding-top: 576px;}
// .ppt-577 {padding-top: 577px;}
// .ppt-578 {padding-top: 578px;}
// .ppt-579 {padding-top: 579px;}
// .ppt-580 {padding-top: 580px;}
// .ppt-581 {padding-top: 581px;}
// .ppt-582 {padding-top: 582px;}
// .ppt-583 {padding-top: 583px;}
// .ppt-584 {padding-top: 584px;}
// .ppt-585 {padding-top: 585px;}
// .ppt-586 {padding-top: 586px;}
// .ppt-587 {padding-top: 587px;}
// .ppt-588 {padding-top: 588px;}
// .ppt-589 {padding-top: 589px;}
// .ppt-590 {padding-top: 590px;}
// .ppt-591 {padding-top: 591px;}
// .ppt-592 {padding-top: 592px;}
// .ppt-593 {padding-top: 593px;}
// .ppt-594 {padding-top: 594px;}
// .ppt-595 {padding-top: 595px;}
// .ppt-596 {padding-top: 596px;}
// .ppt-597 {padding-top: 597px;}
// .ppt-598 {padding-top: 598px;}
// .ppt-599 {padding-top: 599px;}
// .ppt-600 {padding-top: 600px;}
// .ppt-601 {padding-top: 601px;}
// .ppt-602 {padding-top: 602px;}
// .ppt-603 {padding-top: 603px;}
// .ppt-604 {padding-top: 604px;}
// .ppt-605 {padding-top: 605px;}
// .ppt-606 {padding-top: 606px;}
// .ppt-607 {padding-top: 607px;}
// .ppt-608 {padding-top: 608px;}
// .ppt-609 {padding-top: 609px;}
// .ppt-610 {padding-top: 610px;}
// .ppt-611 {padding-top: 611px;}
// .ppt-612 {padding-top: 612px;}
// .ppt-613 {padding-top: 613px;}
// .ppt-614 {padding-top: 614px;}
// .ppt-615 {padding-top: 615px;}
// .ppt-616 {padding-top: 616px;}
// .ppt-617 {padding-top: 617px;}
// .ppt-618 {padding-top: 618px;}
// .ppt-619 {padding-top: 619px;}
// .ppt-620 {padding-top: 620px;}
// .ppt-621 {padding-top: 621px;}
// .ppt-622 {padding-top: 622px;}
// .ppt-623 {padding-top: 623px;}
// .ppt-624 {padding-top: 624px;}
// .ppt-625 {padding-top: 625px;}
// .ppt-626 {padding-top: 626px;}
// .ppt-627 {padding-top: 627px;}
// .ppt-628 {padding-top: 628px;}
// .ppt-629 {padding-top: 629px;}
// .ppt-630 {padding-top: 630px;}
// .ppt-631 {padding-top: 631px;}
// .ppt-632 {padding-top: 632px;}
// .ppt-633 {padding-top: 633px;}
// .ppt-634 {padding-top: 634px;}
// .ppt-635 {padding-top: 635px;}
// .ppt-636 {padding-top: 636px;}
// .ppt-637 {padding-top: 637px;}
// .ppt-638 {padding-top: 638px;}
// .ppt-639 {padding-top: 639px;}
// .ppt-640 {padding-top: 640px;}
// .ppt-641 {padding-top: 641px;}
// .ppt-642 {padding-top: 642px;}
// .ppt-643 {padding-top: 643px;}
// .ppt-644 {padding-top: 644px;}
// .ppt-645 {padding-top: 645px;}
// .ppt-646 {padding-top: 646px;}
// .ppt-647 {padding-top: 647px;}
// .ppt-648 {padding-top: 648px;}
// .ppt-649 {padding-top: 649px;}
// .ppt-650 {padding-top: 650px;}
// .ppt-651 {padding-top: 651px;}
// .ppt-652 {padding-top: 652px;}
// .ppt-653 {padding-top: 653px;}
// .ppt-654 {padding-top: 654px;}
// .ppt-655 {padding-top: 655px;}
// .ppt-656 {padding-top: 656px;}
// .ppt-657 {padding-top: 657px;}
// .ppt-658 {padding-top: 658px;}
// .ppt-659 {padding-top: 659px;}
// .ppt-660 {padding-top: 660px;}
// .ppt-661 {padding-top: 661px;}
// .ppt-662 {padding-top: 662px;}
// .ppt-663 {padding-top: 663px;}
// .ppt-664 {padding-top: 664px;}
// .ppt-665 {padding-top: 665px;}
// .ppt-666 {padding-top: 666px;}
// .ppt-667 {padding-top: 667px;}
// .ppt-668 {padding-top: 668px;}
// .ppt-669 {padding-top: 669px;}
// .ppt-670 {padding-top: 670px;}
// .ppt-671 {padding-top: 671px;}
// .ppt-672 {padding-top: 672px;}
// .ppt-673 {padding-top: 673px;}
// .ppt-674 {padding-top: 674px;}
// .ppt-675 {padding-top: 675px;}
// .ppt-676 {padding-top: 676px;}
// .ppt-677 {padding-top: 677px;}
// .ppt-678 {padding-top: 678px;}
// .ppt-679 {padding-top: 679px;}
// .ppt-680 {padding-top: 680px;}
// .ppt-681 {padding-top: 681px;}
// .ppt-682 {padding-top: 682px;}
// .ppt-683 {padding-top: 683px;}
// .ppt-684 {padding-top: 684px;}
// .ppt-685 {padding-top: 685px;}
// .ppt-686 {padding-top: 686px;}
// .ppt-687 {padding-top: 687px;}
// .ppt-688 {padding-top: 688px;}
// .ppt-689 {padding-top: 689px;}
// .ppt-690 {padding-top: 690px;}
// .ppt-691 {padding-top: 691px;}
// .ppt-692 {padding-top: 692px;}
// .ppt-693 {padding-top: 693px;}
// .ppt-694 {padding-top: 694px;}
// .ppt-695 {padding-top: 695px;}
// .ppt-696 {padding-top: 696px;}
// .ppt-697 {padding-top: 697px;}
// .ppt-698 {padding-top: 698px;}
// .ppt-699 {padding-top: 699px;}
// .ppt-700 {padding-top: 700px;}
// .ppt-701 {padding-top: 701px;}
// .ppt-702 {padding-top: 702px;}
// .ppt-703 {padding-top: 703px;}
// .ppt-704 {padding-top: 704px;}
// .ppt-705 {padding-top: 705px;}
// .ppt-706 {padding-top: 706px;}
// .ppt-707 {padding-top: 707px;}
// .ppt-708 {padding-top: 708px;}
// .ppt-709 {padding-top: 709px;}
// .ppt-710 {padding-top: 710px;}
// .ppt-711 {padding-top: 711px;}
// .ppt-712 {padding-top: 712px;}
// .ppt-713 {padding-top: 713px;}
// .ppt-714 {padding-top: 714px;}
// .ppt-715 {padding-top: 715px;}
// .ppt-716 {padding-top: 716px;}
// .ppt-717 {padding-top: 717px;}
// .ppt-718 {padding-top: 718px;}
// .ppt-719 {padding-top: 719px;}
// .ppt-720 {padding-top: 720px;}
// .ppt-721 {padding-top: 721px;}
// .ppt-722 {padding-top: 722px;}
// .ppt-723 {padding-top: 723px;}
// .ppt-724 {padding-top: 724px;}
// .ppt-725 {padding-top: 725px;}
// .ppt-726 {padding-top: 726px;}
// .ppt-727 {padding-top: 727px;}
// .ppt-728 {padding-top: 728px;}
// .ppt-729 {padding-top: 729px;}
// .ppt-730 {padding-top: 730px;}
// .ppt-731 {padding-top: 731px;}
// .ppt-732 {padding-top: 732px;}
// .ppt-733 {padding-top: 733px;}
// .ppt-734 {padding-top: 734px;}
// .ppt-735 {padding-top: 735px;}
// .ppt-736 {padding-top: 736px;}
// .ppt-737 {padding-top: 737px;}
// .ppt-738 {padding-top: 738px;}
// .ppt-739 {padding-top: 739px;}
// .ppt-740 {padding-top: 740px;}
// .ppt-741 {padding-top: 741px;}
// .ppt-742 {padding-top: 742px;}
// .ppt-743 {padding-top: 743px;}
// .ppt-744 {padding-top: 744px;}
// .ppt-745 {padding-top: 745px;}
// .ppt-746 {padding-top: 746px;}
// .ppt-747 {padding-top: 747px;}
// .ppt-748 {padding-top: 748px;}
// .ppt-749 {padding-top: 749px;}
// .ppt-750 {padding-top: 750px;}
// .ppt-751 {padding-top: 751px;}
// .ppt-752 {padding-top: 752px;}
// .ppt-753 {padding-top: 753px;}
// .ppt-754 {padding-top: 754px;}
// .ppt-755 {padding-top: 755px;}
// .ppt-756 {padding-top: 756px;}
// .ppt-757 {padding-top: 757px;}
// .ppt-758 {padding-top: 758px;}
// .ppt-759 {padding-top: 759px;}
// .ppt-760 {padding-top: 760px;}
// .ppt-761 {padding-top: 761px;}
// .ppt-762 {padding-top: 762px;}
// .ppt-763 {padding-top: 763px;}
// .ppt-764 {padding-top: 764px;}
// .ppt-765 {padding-top: 765px;}
// .ppt-766 {padding-top: 766px;}
// .ppt-767 {padding-top: 767px;}
// .ppt-768 {padding-top: 768px;}
// .ppt-769 {padding-top: 769px;}
// .ppt-770 {padding-top: 770px;}
// .ppt-771 {padding-top: 771px;}
// .ppt-772 {padding-top: 772px;}
// .ppt-773 {padding-top: 773px;}
// .ppt-774 {padding-top: 774px;}
// .ppt-775 {padding-top: 775px;}
// .ppt-776 {padding-top: 776px;}
// .ppt-777 {padding-top: 777px;}
// .ppt-778 {padding-top: 778px;}
// .ppt-779 {padding-top: 779px;}
// .ppt-780 {padding-top: 780px;}
// .ppt-781 {padding-top: 781px;}
// .ppt-782 {padding-top: 782px;}
// .ppt-783 {padding-top: 783px;}
// .ppt-784 {padding-top: 784px;}
// .ppt-785 {padding-top: 785px;}
// .ppt-786 {padding-top: 786px;}
// .ppt-787 {padding-top: 787px;}
// .ppt-788 {padding-top: 788px;}
// .ppt-789 {padding-top: 789px;}
// .ppt-790 {padding-top: 790px;}
// .ppt-791 {padding-top: 791px;}
// .ppt-792 {padding-top: 792px;}
// .ppt-793 {padding-top: 793px;}
// .ppt-794 {padding-top: 794px;}
// .ppt-795 {padding-top: 795px;}
// .ppt-796 {padding-top: 796px;}
// .ppt-797 {padding-top: 797px;}
// .ppt-798 {padding-top: 798px;}
// .ppt-799 {padding-top: 799px;}
// .ppt-800 {padding-top: 800px;}
// .ppt-801 {padding-top: 801px;}
// .ppt-802 {padding-top: 802px;}
// .ppt-803 {padding-top: 803px;}
// .ppt-804 {padding-top: 804px;}
// .ppt-805 {padding-top: 805px;}
// .ppt-806 {padding-top: 806px;}
// .ppt-807 {padding-top: 807px;}
// .ppt-808 {padding-top: 808px;}
// .ppt-809 {padding-top: 809px;}
// .ppt-810 {padding-top: 810px;}
// .ppt-811 {padding-top: 811px;}
// .ppt-812 {padding-top: 812px;}
// .ppt-813 {padding-top: 813px;}
// .ppt-814 {padding-top: 814px;}
// .ppt-815 {padding-top: 815px;}
// .ppt-816 {padding-top: 816px;}
// .ppt-817 {padding-top: 817px;}
// .ppt-818 {padding-top: 818px;}
// .ppt-819 {padding-top: 819px;}
// .ppt-820 {padding-top: 820px;}
// .ppt-821 {padding-top: 821px;}
// .ppt-822 {padding-top: 822px;}
// .ppt-823 {padding-top: 823px;}
// .ppt-824 {padding-top: 824px;}
// .ppt-825 {padding-top: 825px;}
// .ppt-826 {padding-top: 826px;}
// .ppt-827 {padding-top: 827px;}
// .ppt-828 {padding-top: 828px;}
// .ppt-829 {padding-top: 829px;}
// .ppt-830 {padding-top: 830px;}
// .ppt-831 {padding-top: 831px;}
// .ppt-832 {padding-top: 832px;}
// .ppt-833 {padding-top: 833px;}
// .ppt-834 {padding-top: 834px;}
// .ppt-835 {padding-top: 835px;}
// .ppt-836 {padding-top: 836px;}
// .ppt-837 {padding-top: 837px;}
// .ppt-838 {padding-top: 838px;}
// .ppt-839 {padding-top: 839px;}
// .ppt-840 {padding-top: 840px;}
// .ppt-841 {padding-top: 841px;}
// .ppt-842 {padding-top: 842px;}
// .ppt-843 {padding-top: 843px;}
// .ppt-844 {padding-top: 844px;}
// .ppt-845 {padding-top: 845px;}
// .ppt-846 {padding-top: 846px;}
// .ppt-847 {padding-top: 847px;}
// .ppt-848 {padding-top: 848px;}
// .ppt-849 {padding-top: 849px;}
// .ppt-850 {padding-top: 850px;}
// .ppt-851 {padding-top: 851px;}
// .ppt-852 {padding-top: 852px;}
// .ppt-853 {padding-top: 853px;}
// .ppt-854 {padding-top: 854px;}
// .ppt-855 {padding-top: 855px;}
// .ppt-856 {padding-top: 856px;}
// .ppt-857 {padding-top: 857px;}
// .ppt-858 {padding-top: 858px;}
// .ppt-859 {padding-top: 859px;}
// .ppt-860 {padding-top: 860px;}
// .ppt-861 {padding-top: 861px;}
// .ppt-862 {padding-top: 862px;}
// .ppt-863 {padding-top: 863px;}
// .ppt-864 {padding-top: 864px;}
// .ppt-865 {padding-top: 865px;}
// .ppt-866 {padding-top: 866px;}
// .ppt-867 {padding-top: 867px;}
// .ppt-868 {padding-top: 868px;}
// .ppt-869 {padding-top: 869px;}
// .ppt-870 {padding-top: 870px;}
// .ppt-871 {padding-top: 871px;}
// .ppt-872 {padding-top: 872px;}
// .ppt-873 {padding-top: 873px;}
// .ppt-874 {padding-top: 874px;}
// .ppt-875 {padding-top: 875px;}
// .ppt-876 {padding-top: 876px;}
// .ppt-877 {padding-top: 877px;}
// .ppt-878 {padding-top: 878px;}
// .ppt-879 {padding-top: 879px;}
// .ppt-880 {padding-top: 880px;}
// .ppt-881 {padding-top: 881px;}
// .ppt-882 {padding-top: 882px;}
// .ppt-883 {padding-top: 883px;}
// .ppt-884 {padding-top: 884px;}
// .ppt-885 {padding-top: 885px;}
// .ppt-886 {padding-top: 886px;}
// .ppt-887 {padding-top: 887px;}
// .ppt-888 {padding-top: 888px;}
// .ppt-889 {padding-top: 889px;}
// .ppt-890 {padding-top: 890px;}
// .ppt-891 {padding-top: 891px;}
// .ppt-892 {padding-top: 892px;}
// .ppt-893 {padding-top: 893px;}
// .ppt-894 {padding-top: 894px;}
// .ppt-895 {padding-top: 895px;}
// .ppt-896 {padding-top: 896px;}
// .ppt-897 {padding-top: 897px;}
// .ppt-898 {padding-top: 898px;}
// .ppt-899 {padding-top: 899px;}
// .ppt-900 {padding-top: 900px;}
// .ppt-901 {padding-top: 901px;}
// .ppt-902 {padding-top: 902px;}
// .ppt-903 {padding-top: 903px;}
// .ppt-904 {padding-top: 904px;}
// .ppt-905 {padding-top: 905px;}
// .ppt-906 {padding-top: 906px;}
// .ppt-907 {padding-top: 907px;}
// .ppt-908 {padding-top: 908px;}
// .ppt-909 {padding-top: 909px;}
// .ppt-910 {padding-top: 910px;}
// .ppt-911 {padding-top: 911px;}
// .ppt-912 {padding-top: 912px;}
// .ppt-913 {padding-top: 913px;}
// .ppt-914 {padding-top: 914px;}
// .ppt-915 {padding-top: 915px;}
// .ppt-916 {padding-top: 916px;}
// .ppt-917 {padding-top: 917px;}
// .ppt-918 {padding-top: 918px;}
// .ppt-919 {padding-top: 919px;}
// .ppt-920 {padding-top: 920px;}
// .ppt-921 {padding-top: 921px;}
// .ppt-922 {padding-top: 922px;}
// .ppt-923 {padding-top: 923px;}
// .ppt-924 {padding-top: 924px;}
// .ppt-925 {padding-top: 925px;}
// .ppt-926 {padding-top: 926px;}
// .ppt-927 {padding-top: 927px;}
// .ppt-928 {padding-top: 928px;}
// .ppt-929 {padding-top: 929px;}
// .ppt-930 {padding-top: 930px;}
// .ppt-931 {padding-top: 931px;}
// .ppt-932 {padding-top: 932px;}
// .ppt-933 {padding-top: 933px;}
// .ppt-934 {padding-top: 934px;}
// .ppt-935 {padding-top: 935px;}
// .ppt-936 {padding-top: 936px;}
// .ppt-937 {padding-top: 937px;}
// .ppt-938 {padding-top: 938px;}
// .ppt-939 {padding-top: 939px;}
// .ppt-940 {padding-top: 940px;}
// .ppt-941 {padding-top: 941px;}
// .ppt-942 {padding-top: 942px;}
// .ppt-943 {padding-top: 943px;}
// .ppt-944 {padding-top: 944px;}
// .ppt-945 {padding-top: 945px;}
// .ppt-946 {padding-top: 946px;}
// .ppt-947 {padding-top: 947px;}
// .ppt-948 {padding-top: 948px;}
// .ppt-949 {padding-top: 949px;}
// .ppt-950 {padding-top: 950px;}
// .ppt-951 {padding-top: 951px;}
// .ppt-952 {padding-top: 952px;}
// .ppt-953 {padding-top: 953px;}
// .ppt-954 {padding-top: 954px;}
// .ppt-955 {padding-top: 955px;}
// .ppt-956 {padding-top: 956px;}
// .ppt-957 {padding-top: 957px;}
// .ppt-958 {padding-top: 958px;}
// .ppt-959 {padding-top: 959px;}
// .ppt-960 {padding-top: 960px;}
// .ppt-961 {padding-top: 961px;}
// .ppt-962 {padding-top: 962px;}
// .ppt-963 {padding-top: 963px;}
// .ppt-964 {padding-top: 964px;}
// .ppt-965 {padding-top: 965px;}
// .ppt-966 {padding-top: 966px;}
// .ppt-967 {padding-top: 967px;}
// .ppt-968 {padding-top: 968px;}
// .ppt-969 {padding-top: 969px;}
// .ppt-970 {padding-top: 970px;}
// .ppt-971 {padding-top: 971px;}
// .ppt-972 {padding-top: 972px;}
// .ppt-973 {padding-top: 973px;}
// .ppt-974 {padding-top: 974px;}
// .ppt-975 {padding-top: 975px;}
// .ppt-976 {padding-top: 976px;}
// .ppt-977 {padding-top: 977px;}
// .ppt-978 {padding-top: 978px;}
// .ppt-979 {padding-top: 979px;}
// .ppt-980 {padding-top: 980px;}
// .ppt-981 {padding-top: 981px;}
// .ppt-982 {padding-top: 982px;}
// .ppt-983 {padding-top: 983px;}
// .ppt-984 {padding-top: 984px;}
// .ppt-985 {padding-top: 985px;}
// .ppt-986 {padding-top: 986px;}
// .ppt-987 {padding-top: 987px;}
// .ppt-988 {padding-top: 988px;}
// .ppt-989 {padding-top: 989px;}
// .ppt-990 {padding-top: 990px;}
// .ppt-991 {padding-top: 991px;}
// .ppt-992 {padding-top: 992px;}
// .ppt-993 {padding-top: 993px;}
// .ppt-994 {padding-top: 994px;}
// .ppt-995 {padding-top: 995px;}
// .ppt-996 {padding-top: 996px;}
// .ppt-997 {padding-top: 997px;}
// .ppt-998 {padding-top: 998px;}
// .ppt-999 {padding-top: 999px;}
// .ppt-1000 {padding-top: 1000px;}