.rot-1 {transform: rotate(1deg);}
.rot-2 {transform: rotate(2deg);}
.rot-3 {transform: rotate(3deg);}
.rot-4 {transform: rotate(4deg);}
.rot-5 {transform: rotate(5deg);}
.rot-6 {transform: rotate(6deg);}
.rot-7 {transform: rotate(7deg);}
.rot-8 {transform: rotate(8deg);}
.rot-9 {transform: rotate(9deg);}
.rot-10 {transform: rotate(10deg);}
.rot-11 {transform: rotate(11deg);}
.rot-12 {transform: rotate(12deg);}
.rot-13 {transform: rotate(13deg);}
.rot-14 {transform: rotate(14deg);}
.rot-15 {transform: rotate(15deg);}
.rot-16 {transform: rotate(16deg);}
.rot-17 {transform: rotate(17deg);}
.rot-18 {transform: rotate(18deg);}
.rot-19 {transform: rotate(19deg);}
.rot-20 {transform: rotate(20deg);}
.rot-21 {transform: rotate(21deg);}
.rot-22 {transform: rotate(22deg);}
.rot-23 {transform: rotate(23deg);}
.rot-24 {transform: rotate(24deg);}
.rot-25 {transform: rotate(25deg);}
.rot-26 {transform: rotate(26deg);}
.rot-27 {transform: rotate(27deg);}
.rot-28 {transform: rotate(28deg);}
.rot-29 {transform: rotate(29deg);}
.rot-30 {transform: rotate(30deg);}
.rot-31 {transform: rotate(31deg);}
.rot-32 {transform: rotate(32deg);}
.rot-33 {transform: rotate(33deg);}
.rot-34 {transform: rotate(34deg);}
.rot-35 {transform: rotate(35deg);}
.rot-36 {transform: rotate(36deg);}
.rot-37 {transform: rotate(37deg);}
.rot-38 {transform: rotate(38deg);}
.rot-39 {transform: rotate(39deg);}
.rot-40 {transform: rotate(40deg);}
.rot-41 {transform: rotate(41deg);}
.rot-42 {transform: rotate(42deg);}
.rot-43 {transform: rotate(43deg);}
.rot-44 {transform: rotate(44deg);}
.rot-45 {transform: rotate(45deg);}
.rot-46 {transform: rotate(46deg);}
.rot-47 {transform: rotate(47deg);}
.rot-48 {transform: rotate(48deg);}
.rot-49 {transform: rotate(49deg);}
.rot-50 {transform: rotate(50deg);}
.rot-51 {transform: rotate(51deg);}
.rot-52 {transform: rotate(52deg);}
.rot-53 {transform: rotate(53deg);}
.rot-54 {transform: rotate(54deg);}
.rot-55 {transform: rotate(55deg);}
.rot-56 {transform: rotate(56deg);}
.rot-57 {transform: rotate(57deg);}
.rot-58 {transform: rotate(58deg);}
.rot-59 {transform: rotate(59deg);}
.rot-60 {transform: rotate(60deg);}
.rot-61 {transform: rotate(61deg);}
.rot-62 {transform: rotate(62deg);}
.rot-63 {transform: rotate(63deg);}
.rot-64 {transform: rotate(64deg);}
.rot-65 {transform: rotate(65deg);}
.rot-66 {transform: rotate(66deg);}
.rot-67 {transform: rotate(67deg);}
.rot-68 {transform: rotate(68deg);}
.rot-69 {transform: rotate(69deg);}
.rot-70 {transform: rotate(70deg);}
.rot-71 {transform: rotate(71deg);}
.rot-72 {transform: rotate(72deg);}
.rot-73 {transform: rotate(73deg);}
.rot-74 {transform: rotate(74deg);}
.rot-75 {transform: rotate(75deg);}
.rot-76 {transform: rotate(76deg);}
.rot-77 {transform: rotate(77deg);}
.rot-78 {transform: rotate(78deg);}
.rot-79 {transform: rotate(79deg);}
.rot-80 {transform: rotate(80deg);}
.rot-81 {transform: rotate(81deg);}
.rot-82 {transform: rotate(82deg);}
.rot-83 {transform: rotate(83deg);}
.rot-84 {transform: rotate(84deg);}
.rot-85 {transform: rotate(85deg);}
.rot-86 {transform: rotate(86deg);}
.rot-87 {transform: rotate(87deg);}
.rot-88 {transform: rotate(88deg);}
.rot-89 {transform: rotate(89deg);}
.rot-90 {transform: rotate(90deg);}
.rot-91 {transform: rotate(91deg);}
.rot-92 {transform: rotate(92deg);}
.rot-93 {transform: rotate(93deg);}
.rot-94 {transform: rotate(94deg);}
.rot-95 {transform: rotate(95deg);}
.rot-96 {transform: rotate(96deg);}
.rot-97 {transform: rotate(97deg);}
.rot-98 {transform: rotate(98deg);}
.rot-99 {transform: rotate(99deg);}
.rot-100 {transform: rotate(100deg);}
.rot-101 {transform: rotate(101deg);}
.rot-102 {transform: rotate(102deg);}
.rot-103 {transform: rotate(103deg);}
.rot-104 {transform: rotate(104deg);}
.rot-105 {transform: rotate(105deg);}
.rot-106 {transform: rotate(106deg);}
.rot-107 {transform: rotate(107deg);}
.rot-108 {transform: rotate(108deg);}
.rot-109 {transform: rotate(109deg);}
.rot-110 {transform: rotate(110deg);}
.rot-111 {transform: rotate(111deg);}
.rot-112 {transform: rotate(112deg);}
.rot-113 {transform: rotate(113deg);}
.rot-114 {transform: rotate(114deg);}
.rot-115 {transform: rotate(115deg);}
.rot-116 {transform: rotate(116deg);}
.rot-117 {transform: rotate(117deg);}
.rot-118 {transform: rotate(118deg);}
.rot-119 {transform: rotate(119deg);}
.rot-120 {transform: rotate(120deg);}
.rot-121 {transform: rotate(121deg);}
.rot-122 {transform: rotate(122deg);}
.rot-123 {transform: rotate(123deg);}
.rot-124 {transform: rotate(124deg);}
.rot-125 {transform: rotate(125deg);}
.rot-126 {transform: rotate(126deg);}
.rot-127 {transform: rotate(127deg);}
.rot-128 {transform: rotate(128deg);}
.rot-129 {transform: rotate(129deg);}
.rot-130 {transform: rotate(130deg);}
.rot-131 {transform: rotate(131deg);}
.rot-132 {transform: rotate(132deg);}
.rot-133 {transform: rotate(133deg);}
.rot-134 {transform: rotate(134deg);}
.rot-135 {transform: rotate(135deg);}
.rot-136 {transform: rotate(136deg);}
.rot-137 {transform: rotate(137deg);}
.rot-138 {transform: rotate(138deg);}
.rot-139 {transform: rotate(139deg);}
.rot-140 {transform: rotate(140deg);}
.rot-141 {transform: rotate(141deg);}
.rot-142 {transform: rotate(142deg);}
.rot-143 {transform: rotate(143deg);}
.rot-144 {transform: rotate(144deg);}
.rot-145 {transform: rotate(145deg);}
.rot-146 {transform: rotate(146deg);}
.rot-147 {transform: rotate(147deg);}
.rot-148 {transform: rotate(148deg);}
.rot-149 {transform: rotate(149deg);}
.rot-150 {transform: rotate(150deg);}
.rot-151 {transform: rotate(151deg);}
.rot-152 {transform: rotate(152deg);}
.rot-153 {transform: rotate(153deg);}
.rot-154 {transform: rotate(154deg);}
.rot-155 {transform: rotate(155deg);}
.rot-156 {transform: rotate(156deg);}
.rot-157 {transform: rotate(157deg);}
.rot-158 {transform: rotate(158deg);}
.rot-159 {transform: rotate(159deg);}
.rot-160 {transform: rotate(160deg);}
.rot-161 {transform: rotate(161deg);}
.rot-162 {transform: rotate(162deg);}
.rot-163 {transform: rotate(163deg);}
.rot-164 {transform: rotate(164deg);}
.rot-165 {transform: rotate(165deg);}
.rot-166 {transform: rotate(166deg);}
.rot-167 {transform: rotate(167deg);}
.rot-168 {transform: rotate(168deg);}
.rot-169 {transform: rotate(169deg);}
.rot-170 {transform: rotate(170deg);}
.rot-171 {transform: rotate(171deg);}
.rot-172 {transform: rotate(172deg);}
.rot-173 {transform: rotate(173deg);}
.rot-174 {transform: rotate(174deg);}
.rot-175 {transform: rotate(175deg);}
.rot-176 {transform: rotate(176deg);}
.rot-177 {transform: rotate(177deg);}
.rot-178 {transform: rotate(178deg);}
.rot-179 {transform: rotate(179deg);}
.rot-180 {transform: rotate(180deg);}
.rot-181 {transform: rotate(181deg);}
.rot-182 {transform: rotate(182deg);}
.rot-183 {transform: rotate(183deg);}
.rot-184 {transform: rotate(184deg);}
.rot-185 {transform: rotate(185deg);}
.rot-186 {transform: rotate(186deg);}
.rot-187 {transform: rotate(187deg);}
.rot-188 {transform: rotate(188deg);}
.rot-189 {transform: rotate(189deg);}
.rot-190 {transform: rotate(190deg);}
.rot-191 {transform: rotate(191deg);}
.rot-192 {transform: rotate(192deg);}
.rot-193 {transform: rotate(193deg);}
.rot-194 {transform: rotate(194deg);}
.rot-195 {transform: rotate(195deg);}
.rot-196 {transform: rotate(196deg);}
.rot-197 {transform: rotate(197deg);}
.rot-198 {transform: rotate(198deg);}
.rot-199 {transform: rotate(199deg);}
.rot-200 {transform: rotate(200deg);}
.rot-201 {transform: rotate(201deg);}
.rot-202 {transform: rotate(202deg);}
.rot-203 {transform: rotate(203deg);}
.rot-204 {transform: rotate(204deg);}
.rot-205 {transform: rotate(205deg);}
.rot-206 {transform: rotate(206deg);}
.rot-207 {transform: rotate(207deg);}
.rot-208 {transform: rotate(208deg);}
.rot-209 {transform: rotate(209deg);}
.rot-210 {transform: rotate(210deg);}
.rot-211 {transform: rotate(211deg);}
.rot-212 {transform: rotate(212deg);}
.rot-213 {transform: rotate(213deg);}
.rot-214 {transform: rotate(214deg);}
.rot-215 {transform: rotate(215deg);}
.rot-216 {transform: rotate(216deg);}
.rot-217 {transform: rotate(217deg);}
.rot-218 {transform: rotate(218deg);}
.rot-219 {transform: rotate(219deg);}
.rot-220 {transform: rotate(220deg);}
.rot-221 {transform: rotate(221deg);}
.rot-222 {transform: rotate(222deg);}
.rot-223 {transform: rotate(223deg);}
.rot-224 {transform: rotate(224deg);}
.rot-225 {transform: rotate(225deg);}
.rot-226 {transform: rotate(226deg);}
.rot-227 {transform: rotate(227deg);}
.rot-228 {transform: rotate(228deg);}
.rot-229 {transform: rotate(229deg);}
.rot-230 {transform: rotate(230deg);}
.rot-231 {transform: rotate(231deg);}
.rot-232 {transform: rotate(232deg);}
.rot-233 {transform: rotate(233deg);}
.rot-234 {transform: rotate(234deg);}
.rot-235 {transform: rotate(235deg);}
.rot-236 {transform: rotate(236deg);}
.rot-237 {transform: rotate(237deg);}
.rot-238 {transform: rotate(238deg);}
.rot-239 {transform: rotate(239deg);}
.rot-240 {transform: rotate(240deg);}
.rot-241 {transform: rotate(241deg);}
.rot-242 {transform: rotate(242deg);}
.rot-243 {transform: rotate(243deg);}
.rot-244 {transform: rotate(244deg);}
.rot-245 {transform: rotate(245deg);}
.rot-246 {transform: rotate(246deg);}
.rot-247 {transform: rotate(247deg);}
.rot-248 {transform: rotate(248deg);}
.rot-249 {transform: rotate(249deg);}
.rot-250 {transform: rotate(250deg);}
.rot-251 {transform: rotate(251deg);}
.rot-252 {transform: rotate(252deg);}
.rot-253 {transform: rotate(253deg);}
.rot-254 {transform: rotate(254deg);}
.rot-255 {transform: rotate(255deg);}
.rot-256 {transform: rotate(256deg);}
.rot-257 {transform: rotate(257deg);}
.rot-258 {transform: rotate(258deg);}
.rot-259 {transform: rotate(259deg);}
.rot-260 {transform: rotate(260deg);}
.rot-261 {transform: rotate(261deg);}
.rot-262 {transform: rotate(262deg);}
.rot-263 {transform: rotate(263deg);}
.rot-264 {transform: rotate(264deg);}
.rot-265 {transform: rotate(265deg);}
.rot-266 {transform: rotate(266deg);}
.rot-267 {transform: rotate(267deg);}
.rot-268 {transform: rotate(268deg);}
.rot-269 {transform: rotate(269deg);}
.rot-270 {transform: rotate(270deg);}
.rot-271 {transform: rotate(271deg);}
.rot-272 {transform: rotate(272deg);}
.rot-273 {transform: rotate(273deg);}
.rot-274 {transform: rotate(274deg);}
.rot-275 {transform: rotate(275deg);}
.rot-276 {transform: rotate(276deg);}
.rot-277 {transform: rotate(277deg);}
.rot-278 {transform: rotate(278deg);}
.rot-279 {transform: rotate(279deg);}
.rot-280 {transform: rotate(280deg);}
.rot-281 {transform: rotate(281deg);}
.rot-282 {transform: rotate(282deg);}
.rot-283 {transform: rotate(283deg);}
.rot-284 {transform: rotate(284deg);}
.rot-285 {transform: rotate(285deg);}
.rot-286 {transform: rotate(286deg);}
.rot-287 {transform: rotate(287deg);}
.rot-288 {transform: rotate(288deg);}
.rot-289 {transform: rotate(289deg);}
.rot-290 {transform: rotate(290deg);}
.rot-291 {transform: rotate(291deg);}
.rot-292 {transform: rotate(292deg);}
.rot-293 {transform: rotate(293deg);}
.rot-294 {transform: rotate(294deg);}
.rot-295 {transform: rotate(295deg);}
.rot-296 {transform: rotate(296deg);}
.rot-297 {transform: rotate(297deg);}
.rot-298 {transform: rotate(298deg);}
.rot-299 {transform: rotate(299deg);}
.rot-300 {transform: rotate(300deg);}
.rot-301 {transform: rotate(301deg);}
.rot-302 {transform: rotate(302deg);}
.rot-303 {transform: rotate(303deg);}
.rot-304 {transform: rotate(304deg);}
.rot-305 {transform: rotate(305deg);}
.rot-306 {transform: rotate(306deg);}
.rot-307 {transform: rotate(307deg);}
.rot-308 {transform: rotate(308deg);}
.rot-309 {transform: rotate(309deg);}
.rot-310 {transform: rotate(310deg);}
.rot-311 {transform: rotate(311deg);}
.rot-312 {transform: rotate(312deg);}
.rot-313 {transform: rotate(313deg);}
.rot-314 {transform: rotate(314deg);}
.rot-315 {transform: rotate(315deg);}
.rot-316 {transform: rotate(316deg);}
.rot-317 {transform: rotate(317deg);}
.rot-318 {transform: rotate(318deg);}
.rot-319 {transform: rotate(319deg);}
.rot-320 {transform: rotate(320deg);}
.rot-321 {transform: rotate(321deg);}
.rot-322 {transform: rotate(322deg);}
.rot-323 {transform: rotate(323deg);}
.rot-324 {transform: rotate(324deg);}
.rot-325 {transform: rotate(325deg);}
.rot-326 {transform: rotate(326deg);}
.rot-327 {transform: rotate(327deg);}
.rot-328 {transform: rotate(328deg);}
.rot-329 {transform: rotate(329deg);}
.rot-330 {transform: rotate(330deg);}
.rot-331 {transform: rotate(331deg);}
.rot-332 {transform: rotate(332deg);}
.rot-333 {transform: rotate(333deg);}
.rot-334 {transform: rotate(334deg);}
.rot-335 {transform: rotate(335deg);}
.rot-336 {transform: rotate(336deg);}
.rot-337 {transform: rotate(337deg);}
.rot-338 {transform: rotate(338deg);}
.rot-339 {transform: rotate(339deg);}
.rot-340 {transform: rotate(340deg);}
.rot-341 {transform: rotate(341deg);}
.rot-342 {transform: rotate(342deg);}
.rot-343 {transform: rotate(343deg);}
.rot-344 {transform: rotate(344deg);}
.rot-345 {transform: rotate(345deg);}
.rot-346 {transform: rotate(346deg);}
.rot-347 {transform: rotate(347deg);}
.rot-348 {transform: rotate(348deg);}
.rot-349 {transform: rotate(349deg);}
.rot-350 {transform: rotate(350deg);}
.rot-351 {transform: rotate(351deg);}
.rot-352 {transform: rotate(352deg);}
.rot-353 {transform: rotate(353deg);}
.rot-354 {transform: rotate(354deg);}
.rot-355 {transform: rotate(355deg);}
.rot-356 {transform: rotate(356deg);}
.rot-357 {transform: rotate(357deg);}
.rot-358 {transform: rotate(358deg);}
.rot-359 {transform: rotate(359deg);}
.rot-360 {transform: rotate(360deg);}