.npr-1 {padding-right: -1px;}
.npr-2 {padding-right: -2px;}
.npr-3 {padding-right: -3px;}
.npr-4 {padding-right: -4px;}
.npr-5 {padding-right: -5px;}
.npr-6 {padding-right: -6px;}
.npr-7 {padding-right: -7px;}
.npr-8 {padding-right: -8px;}
.npr-9 {padding-right: -9px;}
.npr-10 {padding-right: -10px;}
.npr-11 {padding-right: -11px;}
.npr-12 {padding-right: -12px;}
.npr-13 {padding-right: -13px;}
.npr-14 {padding-right: -14px;}
.npr-15 {padding-right: -15px;}
.npr-16 {padding-right: -16px;}
.npr-17 {padding-right: -17px;}
.npr-18 {padding-right: -18px;}
.npr-19 {padding-right: -19px;}
.npr-20 {padding-right: -20px;}
.npr-21 {padding-right: -21px;}
.npr-22 {padding-right: -22px;}
.npr-23 {padding-right: -23px;}
.npr-24 {padding-right: -24px;}
.npr-25 {padding-right: -25px;}
.npr-26 {padding-right: -26px;}
.npr-27 {padding-right: -27px;}
.npr-28 {padding-right: -28px;}
.npr-29 {padding-right: -29px;}
.npr-30 {padding-right: -30px;}
.npr-31 {padding-right: -31px;}
.npr-32 {padding-right: -32px;}
.npr-33 {padding-right: -33px;}
.npr-34 {padding-right: -34px;}
.npr-35 {padding-right: -35px;}
.npr-36 {padding-right: -36px;}
.npr-37 {padding-right: -37px;}
.npr-38 {padding-right: -38px;}
.npr-39 {padding-right: -39px;}
.npr-40 {padding-right: -40px;}
.npr-41 {padding-right: -41px;}
.npr-42 {padding-right: -42px;}
.npr-43 {padding-right: -43px;}
.npr-44 {padding-right: -44px;}
.npr-45 {padding-right: -45px;}
.npr-46 {padding-right: -46px;}
.npr-47 {padding-right: -47px;}
.npr-48 {padding-right: -48px;}
.npr-49 {padding-right: -49px;}
.npr-50 {padding-right: -50px;}
.npr-51 {padding-right: -51px;}
.npr-52 {padding-right: -52px;}
.npr-53 {padding-right: -53px;}
.npr-54 {padding-right: -54px;}
.npr-55 {padding-right: -55px;}
.npr-56 {padding-right: -56px;}
.npr-57 {padding-right: -57px;}
.npr-58 {padding-right: -58px;}
.npr-59 {padding-right: -59px;}
.npr-60 {padding-right: -60px;}
.npr-61 {padding-right: -61px;}
.npr-62 {padding-right: -62px;}
.npr-63 {padding-right: -63px;}
.npr-64 {padding-right: -64px;}
.npr-65 {padding-right: -65px;}
.npr-66 {padding-right: -66px;}
.npr-67 {padding-right: -67px;}
.npr-68 {padding-right: -68px;}
.npr-69 {padding-right: -69px;}
.npr-70 {padding-right: -70px;}
.npr-71 {padding-right: -71px;}
.npr-72 {padding-right: -72px;}
.npr-73 {padding-right: -73px;}
.npr-74 {padding-right: -74px;}
.npr-75 {padding-right: -75px;}
.npr-76 {padding-right: -76px;}
.npr-77 {padding-right: -77px;}
.npr-78 {padding-right: -78px;}
.npr-79 {padding-right: -79px;}
.npr-80 {padding-right: -80px;}
.npr-81 {padding-right: -81px;}
.npr-82 {padding-right: -82px;}
.npr-83 {padding-right: -83px;}
.npr-84 {padding-right: -84px;}
.npr-85 {padding-right: -85px;}
.npr-86 {padding-right: -86px;}
.npr-87 {padding-right: -87px;}
.npr-88 {padding-right: -88px;}
.npr-89 {padding-right: -89px;}
.npr-90 {padding-right: -90px;}
.npr-91 {padding-right: -91px;}
.npr-92 {padding-right: -92px;}
.npr-93 {padding-right: -93px;}
.npr-94 {padding-right: -94px;}
.npr-95 {padding-right: -95px;}
.npr-96 {padding-right: -96px;}
.npr-97 {padding-right: -97px;}
.npr-98 {padding-right: -98px;}
.npr-99 {padding-right: -99px;}
.npr-100 {padding-right: -100px;}
.npr-101 {padding-right: -101px;}
.npr-102 {padding-right: -102px;}
.npr-103 {padding-right: -103px;}
.npr-104 {padding-right: -104px;}
.npr-105 {padding-right: -105px;}
.npr-106 {padding-right: -106px;}
.npr-107 {padding-right: -107px;}
.npr-108 {padding-right: -108px;}
.npr-109 {padding-right: -109px;}
.npr-110 {padding-right: -110px;}
.npr-111 {padding-right: -111px;}
.npr-112 {padding-right: -112px;}
.npr-113 {padding-right: -113px;}
.npr-114 {padding-right: -114px;}
.npr-115 {padding-right: -115px;}
.npr-116 {padding-right: -116px;}
.npr-117 {padding-right: -117px;}
.npr-118 {padding-right: -118px;}
.npr-119 {padding-right: -119px;}
.npr-120 {padding-right: -120px;}
.npr-121 {padding-right: -121px;}
.npr-122 {padding-right: -122px;}
.npr-123 {padding-right: -123px;}
.npr-124 {padding-right: -124px;}
.npr-125 {padding-right: -125px;}
.npr-126 {padding-right: -126px;}
.npr-127 {padding-right: -127px;}
.npr-128 {padding-right: -128px;}
.npr-129 {padding-right: -129px;}
.npr-130 {padding-right: -130px;}
.npr-131 {padding-right: -131px;}
.npr-132 {padding-right: -132px;}
.npr-133 {padding-right: -133px;}
.npr-134 {padding-right: -134px;}
.npr-135 {padding-right: -135px;}
.npr-136 {padding-right: -136px;}
.npr-137 {padding-right: -137px;}
.npr-138 {padding-right: -138px;}
.npr-139 {padding-right: -139px;}
.npr-140 {padding-right: -140px;}
.npr-141 {padding-right: -141px;}
.npr-142 {padding-right: -142px;}
.npr-143 {padding-right: -143px;}
.npr-144 {padding-right: -144px;}
.npr-145 {padding-right: -145px;}
.npr-146 {padding-right: -146px;}
.npr-147 {padding-right: -147px;}
.npr-148 {padding-right: -148px;}
.npr-149 {padding-right: -149px;}
.npr-150 {padding-right: -150px;}
.npr-151 {padding-right: -151px;}
.npr-152 {padding-right: -152px;}
.npr-153 {padding-right: -153px;}
.npr-154 {padding-right: -154px;}
.npr-155 {padding-right: -155px;}
.npr-156 {padding-right: -156px;}
.npr-157 {padding-right: -157px;}
.npr-158 {padding-right: -158px;}
.npr-159 {padding-right: -159px;}
.npr-160 {padding-right: -160px;}
.npr-161 {padding-right: -161px;}
.npr-162 {padding-right: -162px;}
.npr-163 {padding-right: -163px;}
.npr-164 {padding-right: -164px;}
.npr-165 {padding-right: -165px;}
.npr-166 {padding-right: -166px;}
.npr-167 {padding-right: -167px;}
.npr-168 {padding-right: -168px;}
.npr-169 {padding-right: -169px;}
.npr-170 {padding-right: -170px;}
.npr-171 {padding-right: -171px;}
.npr-172 {padding-right: -172px;}
.npr-173 {padding-right: -173px;}
.npr-174 {padding-right: -174px;}
.npr-175 {padding-right: -175px;}
.npr-176 {padding-right: -176px;}
.npr-177 {padding-right: -177px;}
.npr-178 {padding-right: -178px;}
.npr-179 {padding-right: -179px;}
.npr-180 {padding-right: -180px;}
.npr-181 {padding-right: -181px;}
.npr-182 {padding-right: -182px;}
.npr-183 {padding-right: -183px;}
.npr-184 {padding-right: -184px;}
.npr-185 {padding-right: -185px;}
.npr-186 {padding-right: -186px;}
.npr-187 {padding-right: -187px;}
.npr-188 {padding-right: -188px;}
.npr-189 {padding-right: -189px;}
.npr-190 {padding-right: -190px;}
.npr-191 {padding-right: -191px;}
.npr-192 {padding-right: -192px;}
.npr-193 {padding-right: -193px;}
.npr-194 {padding-right: -194px;}
.npr-195 {padding-right: -195px;}
.npr-196 {padding-right: -196px;}
.npr-197 {padding-right: -197px;}
.npr-198 {padding-right: -198px;}
.npr-199 {padding-right: -199px;}
.npr-200 {padding-right: -200px;}