.fsem-1 {font-size: 1em;}
.fsem-2 {font-size: 2em;}
.fsem-3 {font-size: 3em;}
.fsem-4 {font-size: 4em;}
.fsem-5 {font-size: 5em;}
.fsem-6 {font-size: 6em;}
.fsem-7 {font-size: 7em;}
.fsem-8 {font-size: 8em;}
.fsem-9 {font-size: 9em;}
.fsem-10 {font-size: 10em;}
.fsem-11 {font-size: 11em;}
.fsem-12 {font-size: 12em;}
.fsem-13 {font-size: 13em;}
.fsem-14 {font-size: 14em;}
.fsem-15 {font-size: 15em;}
.fsem-16 {font-size: 16em;}
.fsem-17 {font-size: 17em;}
.fsem-18 {font-size: 18em;}
.fsem-19 {font-size: 19em;}
.fsem-20 {font-size: 20em;}
.fsem-21 {font-size: 21em;}
.fsem-22 {font-size: 22em;}
.fsem-23 {font-size: 23em;}
.fsem-24 {font-size: 24em;}
.fsem-25 {font-size: 25em;}
.fsem-26 {font-size: 26em;}
.fsem-27 {font-size: 27em;}
.fsem-28 {font-size: 28em;}
.fsem-29 {font-size: 29em;}
.fsem-30 {font-size: 30em;}
