.fspx-1 {font-size: 1px;}
.fspx-2 {font-size: 2px;}
.fspx-3 {font-size: 3px;}
.fspx-4 {font-size: 4px;}
.fspx-5 {font-size: 5px;}
.fspx-6 {font-size: 6px;}
.fspx-7 {font-size: 7px;}
.fspx-8 {font-size: 8px;}
.fspx-9 {font-size: 9px;}
.fspx-10 {font-size: 10px;}
.fspx-11 {font-size: 11px;}
.fspx-12 {font-size: 12px;}
.fspx-13 {font-size: 13px;}
.fspx-14 {font-size: 14px;}
.fspx-15 {font-size: 15px;}
.fspx-16 {font-size: 16px;}
.fspx-17 {font-size: 17px;}
.fspx-18 {font-size: 18px;}
.fspx-19 {font-size: 19px;}
.fspx-20 {font-size: 20px;}
.fspx-21 {font-size: 21px;}
.fspx-22 {font-size: 22px;}
.fspx-23 {font-size: 23px;}
.fspx-24 {font-size: 24px;}
.fspx-25 {font-size: 25px;}
.fspx-26 {font-size: 26px;}
.fspx-27 {font-size: 27px;}
.fspx-28 {font-size: 28px;}
.fspx-29 {font-size: 29px;}
.fspx-30 {font-size: 30px;}
