.fsrem-1 {font-size: 1rem;}
.fsrem-2 {font-size: 2rem;}
.fsrem-3 {font-size: 3rem;}
.fsrem-4 {font-size: 4rem;}
.fsrem-5 {font-size: 5rem;}
.fsrem-6 {font-size: 6rem;}
.fsrem-7 {font-size: 7rem;}
.fsrem-8 {font-size: 8rem;}
.fsrem-9 {font-size: 9rem;}
.fsrem-10 {font-size: 10rem;}
.fsrem-11 {font-size: 11rem;}
.fsrem-12 {font-size: 12rem;}
.fsrem-13 {font-size: 13rem;}
.fsrem-14 {font-size: 14rem;}
.fsrem-15 {font-size: 15rem;}
.fsrem-16 {font-size: 16rem;}
.fsrem-17 {font-size: 17rem;}
.fsrem-18 {font-size: 18rem;}
.fsrem-19 {font-size: 19rem;}
.fsrem-20 {font-size: 20rem;}
.fsrem-21 {font-size: 21rem;}
.fsrem-22 {font-size: 22rem;}
.fsrem-23 {font-size: 23rem;}
.fsrem-24 {font-size: 24rem;}
.fsrem-25 {font-size: 25rem;}
.fsrem-26 {font-size: 26rem;}
.fsrem-27 {font-size: 27rem;}
.fsrem-28 {font-size: 28rem;}
.fsrem-29 {font-size: 29rem;}
.fsrem-30 {font-size: 30rem;}
