.lsem-001 {letter-spacing: 0.01em;}
.lsem-002 {letter-spacing: 0.02em;}
.lsem-003 {letter-spacing: 0.03em;}
.lsem-004 {letter-spacing: 0.04em;}
.lsem-005 {letter-spacing: 0.05em;}
.lsem-006 {letter-spacing: 0.06em;}
.lsem-007 {letter-spacing: 0.07em;}
.lsem-008 {letter-spacing: 0.08em;}
.lsem-009 {letter-spacing: 0.09em;}
.lsem-010 {letter-spacing: 0.10em;}
.lsem-0102 {letter-spacing: 0.102em;}
.lsem-0105 {letter-spacing: 0.105em;}
.lsem-011 {letter-spacing: 0.11em;}
.lsem-0115 {letter-spacing: 0.115em;}
.lsem-012 {letter-spacing: 0.12em;}
.lsem-013 {letter-spacing: 0.13em;}
.lsem-014 {letter-spacing: 0.14em;}
.lsem-015 {letter-spacing: 0.15em;}
.lsem-016 {letter-spacing: 0.16em;}
.lsem-017 {letter-spacing: 0.17em;}
.lsem-018 {letter-spacing: 0.18em;}
.lsem-019 {letter-spacing: 0.19em;}
.lsem-020 {letter-spacing: 0.20em;}
.lsem-021 {letter-spacing: 0.21em;}
.lsem-022 {letter-spacing: 0.22em;}
.lsem-023 {letter-spacing: 0.23em;}
.lsem-024 {letter-spacing: 0.24em;}
.lsem-025 {letter-spacing: 0.25em;}
.lsem-026 {letter-spacing: 0.26em;}
.lsem-027 {letter-spacing: 0.27em;}
.lsem-028 {letter-spacing: 0.28em;}
.lsem-029 {letter-spacing: 0.29em;}
.lsem-030 {letter-spacing: 0.30em;}
.lsem-100 {letter-spacing: 1.00em;}
